extends _template.pug


block head
  head
    +head(head.news)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Сверстанные страницы
            ul.list-page.list-unstyled
              li
                a(href="index.html" target="_blank") Домашня
              li
                a(href="index-2.html" target="_blank") Домашня с гугл
              li
                a(href="index-3.html" target="_blank") Домашня с гугл 2
              li
                a(href="news.html" target="_blank") Новини
              li
                a(href="news-details.html" target="_blank") Новини пост
              li
                a(href="registration-investors.html" target="_blank") Регістрація інвесторів
              li
                a(href="investors.html" target="_blank") Інвестори
              li
                a(href="project-details.html" target="_blank") Проект в деталях
              li
                a(href="list-project.html" target="_blank") Список проектов
              li
                a(href="map.html" target="_blank") Інтерактина карта
              li
                a(href="registration-project.html" target="_blank") Регістрація проекту
              li
                a(href="index-sm.html" target="_blank") Домашня полегшена



  .page__buffer
