doctype html
html(class="no-js", lang="ru")


  include ../components/loader/loader
  include ../components/head/head
  include ../components/header/header
  include ../components/footer/footer
  include ../components/b-brands/b-brands
  include ../components/b-invest/b-invest
  include ../components/b-blockquote/b-blockquote
  include ../components/b-interactive/b-interactive
  include ../components/b-modal-regions/b-modal-regions
  include ../components/b-list-projects/b-list-projects
  include ../components/b-news/b-news
  include ../components/b-investors/b-investors
  include ../components/b-project-details/b-project-details
  include ../components/b-map-infoblock/b-map-infoblock

  block head

  body.page.lite-ver
    |%=symbols=%

    block loader
      +loader()

    .page__wrapper

      +header_no-b-invest()


      block content

    .page__footer
      +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();



    // ++++++++++++
    // MAIN SCRIPTS
    // ++++++++++++

    script(src='assets/libs/jquery-1.12.4.min.js')
    // Bootstrap
    script(src="assets/libs/bootstrap/bootstrap.min.js")
    // User customization
    script(src='assets/js/custom.js')

    // Select customization
    script(src="assets/plugins/chosen/chosen.jquery.min.js")

    // RangeSlider
    script(src="assets/plugins/rangeSlider/js/ion.rangeSlider.min.js")

    // Map
    script(src="assets/plugins/jqvmap-ukraine-master/js/jquery.vmap.min.js")
    script(src="assets/plugins/jqvmap-ukraine-master/js/ukraine.js")

    // Carousel
    script(src="assets/plugins/OwlCarousel2/owl.carousel.min.js")

    // Animation
    script(src="assets/plugins/jarallax/jarallax.min.js")

    // Scale images
    script(src="assets/plugins/ofi.min.js")

    block scripts
