extends _template.pug


block head
  head
    +head(head.index)

  - pageHome = true

block content


  // Alert message
  .container
    .row
      .col-md-8.col-md-offset-2
        .alert
          button.close(data-dismiss="alert")
            i.close-icon.fa.fa-times
          .alert-text
            strong Увага!
            span.text-primary  Нова інвестиційна
              strong  пропозиція!

  // end .alert


  .section-blockquote
    .container
      .row
        .col-xs-12
          +b-blockquote_img('header', '', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.', 'Петро<br> Олексійович<br> Порошенко', 'Президент України', 'blockquote-img-main_1')(class="b-blockquote-1")
  // end section-blockquote


  +b-interactive-google-2()


  +b-brands()


  // Modal region selection
  +b-modal-regions()


  .page__buffer



block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqQ_bBw186KJnMcRByvn5ffZueg88wp1E")
  // Maps customization
  script(src='assets/js/map-large.js')

