extends _template-2.pug

include ../components/b-welcome/b-welcome

block head
  head
    +head(head.index)

  - pageHome = true

block content


  +b-welcome()
  +b-interactive_korost()


  +b-brands()


  .page__buffer

