extends _template.pug


block head
  head
    +head(head.investors)

block content

  main.l-content
    .container
      .row
        .col-xs-12
          .l-content__nav.text-center
            a.btn.btn-default(href="#") новини
            a.btn.btn-default(href="#") Проекти
            a.btn.btn-default.active(href="#") Інвестори
          .l-content__head
            .l-content__select.pull-right
              select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="1")
                option(value="")
                option(value="Галузь 1") Галузь 1
                option(value="Галузь 2") Галузь 2

      .section-investors
        .row
          .col-xs-12
            +b-investors('316x316_1', 'Іван Іванович <br>Петренко', 'Директор компанії <br>Новий бізнес', ' 1 000 000 грн', '+38 (044) 361 29 13', 'info@invest.com.ua', 'г. Киев, ул. Васильковская, 30', 'ivan.petrenko')
            +b-investors('316x316_1', 'Іван Іванович <br>Петренко', 'Директор компанії <br>Новий бізнес', ' 1 000 000 грн', '+38 (044) 361 29 13', 'info@invest.com.ua', 'г. Киев, ул. Васильковская, 30', 'ivan.petrenko')
            +b-investors('316x316_1', 'Іван Іванович <br>Петренко', 'Директор компанії <br>Новий бізнес', ' 1 000 000 грн', '+38 (044) 361 29 13', 'info@invest.com.ua', 'г. Киев, ул. Васильковская, 30', 'ivan.petrenko')
            +b-investors('316x316_1', 'Іван Іванович <br>Петренко', 'Директор компанії <br>Новий бізнес', ' 1 000 000 грн', '+38 (044) 361 29 13', 'info@invest.com.ua', 'г. Киев, ул. Васильковская, 30', 'ivan.petrenko')
            +b-investors('316x316_1', 'Іван Іванович <br>Петренко', 'Директор компанії <br>Новий бізнес', ' 1 000 000 грн', '+38 (044) 361 29 13', 'info@invest.com.ua', 'г. Киев, ул. Васильковская, 30', 'ivan.petrenko')



      .text-center
        ul.pagination
          li.active
            a(href="#") 1
          li
            a(href="#") 2
          li
            a(href="#") 3
          li
            a(href="#") 4
          li
            a(href="#") 5


  +b-brands()


  .page__buffer
