extends _template.pug


block head
  head
    +head(head.projectDetails)

block content


  .container
    .row
      .col-xs-12
        .section-area
          form.b-list-projects-filter.ui-form
            .row
              .col-md-4
                select.select_box(data-placeholder="Введіть слово з назви" style="width:100%;" multiple tabindex="7")
                  option(value="")
                  option(value="Київ") Київ
                  option(value="Одеса") Одеса
                  option(value="Харків") Харків
                  option(value="Львів") Львів
                select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="8")
                  option(value="")
                  option(value="Область 1") Область 1
                  option(value="Область 2") Область 2
                select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="9")
                  option(value="")
                  option(value="Галузь 1") Галузь 1
                  option(value="Галузь 2") Галузь 2
                select.select_box(data-placeholder="Вид інвестиційного проекту" style="width:100%;" tabindex="13")
                  option(value="")
                  option(value="Земельні ділянки") Земельні ділянки
                  option(value="Объекти нерухомості") Объекти нерухомості

              .col-md-4
                select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="10")
                  option(value="")
                  option(value="Місто 1") Місто 1
                  option(value="Місто 2") Місто 2
                select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="11")
                  option(value="")
                  option(value="Район 1") Район 1
                  option(value="Район 2") Район 2
                select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="12")
                  option(value="")
                  option(value="Шар 1") Шар 1
                  option(value="Шар 2") Шар 2

              .col-md-4
                .b-projects-form__slider
                  .b-projects-form__subtitle За обємом інвестицій
                  input.range_01(type="text" name="name" value="")

                  .b-projects-form__subtitle За площею
                  input.range_02(type="text" name="name" value="")

              .text-center
                button.btn.btn-default Пошук
                button.btn.btn-default(type="reset") Сбросить
          .clearfix
            .btns-switch.pull-right
              i.btns-switch__item.active.js-view-list.fa.fa-th-list
              i.btns-switch__item.js-view-col.fa.fa-th

          +list-projects(class="list-projects_mrg-top")

          .text-center
            ul.pagination
              li
                a(href="#") 1
              li
                a(href="#") 2
              li
                a(href="#") 3
              li
                a(href="#") 4
              li
                a(href="#") 5


  +b-brands()


  .page__buffer


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqQ_bBw186KJnMcRByvn5ffZueg88wp1E")
  // Maps customization
  script(src='assets/js/map-sm.js')
