extends _template.pug


block head
  head
    +head(head.map)

block content


  form.b-interactive-form
    .container
      .row
        .col-md-8
          #map-ua
        .col-md-4
          .b-interactive-form__title Пошук на відбір інвестиційних проектів
          select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="1")
            option(value="")
            option(value="Галузь 1") Галузь 1
            option(value="Галузь 2") Галузь 2
          select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="2")
            option(value="")
            option(value="Область 1") Область 1
            option(value="Область 2") Область 2
          select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="3")
            option(value="")
            option(value="Місто 1") Місто 1
            option(value="Місто 2") Місто 2
          select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="4")
            option(value="")
            option(value="Район 1") Район 1
            option(value="Район 2") Район 2

          .b-interactive-form__slider
            .b-interactive-form__subtitle За обємом інвестицій
            input.range_01(type="text" name="name" value="")

            .b-interactive-form__subtitle За площею
            input.range_02(type="text" name="name" value="")

          select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="5")
            option(value="")
            option(value="Шар 1") Шар 1
            option(value="Шар 2") Шар 2



  +b-brands()

  .page__buffer
