extends _template.pug


block head
  head
    +head(head.news)

block content


  main.l-content
    .container
      .row
        .col-xs-12
          .l-content__nav.text-center
            a.btn.btn-default.active(href="#") новини
            a.btn.btn-default(href="#") Проекти
            a.btn.btn-default(href="#") Інвестори
          .l-content__head
            .l-content__select.pull-right
              select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="1")
                option(value="")
                option(value="Галузь 1") Галузь 1
                option(value="Галузь 2") Галузь 2

      .row
        .col-xs-12
          +b-news-full('390x260_1', 'Остання новина найважливіша', '12.11.16', 'Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.Симим останнім відкриттям цього року стала розробка проекту в генної індустрії і все вчені і бізнесмени України поспішають взяти участь в даному проекті неймовірною важливості.')

  +b-brands()


  .page__buffer
