extends _template.pug


block head
  head
    +head(head.projectDetails)

block content

  +b-project-details()


  +b-brands()

  .page__buffer


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqQ_bBw186KJnMcRByvn5ffZueg88wp1E")
  // Map icons
  script(src='assets/plugins/map-icons-master/js/map-icons.js')
  // Maps customization
  script(src='assets/js/map-sm.js')
  script(src='assets/js/infobubble.js')
