extends _template.pug


block head
  head
    +head(head.registr)

block content

  main.l-content
    .container
      .row
        .col-xs-12
          .l-content__nav.text-center
            a.btn.btn-default(href="#") новини
            a.btn.btn-default(href="#") Проекти
            a.btn.btn-default(href="#") Інвестори
          .l-content__head
            h1.ui-title-page.pull-left Реєстрація інвестора
            a.l-content__registr-link.text-primary.pull-right(href="#") реєстрація через
              i.icon.fa.fa-facebook-official



          ul.form-registr-invest__nav.nav.nav-tabs
            li.active
              a(href="#initiator" data-toggle="tab") Ініціатор інвестиційного проекту
            li
              a(href="#investor" data-toggle="tab") Інвестор

          .tab-content
            .tab-pane.fade.in.active#initiator
              form.form-registr-invest.ui-form.ui-form_pdg_btm
                .row
                  .col-md-4
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Тип користувача
                      select.select_box(data-placeholder="Юридична особа" style="width:100%;" tabindex="1")
                        option(value="")
                        option(value="Юридична особа") Юридична особа
                        option(value="Фізична особа") Фізична особа
                  .col-md-4
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Проекти для інвестування
                      select.select_box(data-placeholder="Всі категорії" style="width:100%;" tabindex="2")
                        option(value="")
                        option(value="Категорія 1") Категорія 1
                        option(value="Категорія 2") Категорія 2
                      a.form-registr-invest__links.ui-form__links(href="#") Додати ще категорію
                  .col-md-4
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Виберете регіон
                      select.select_box(data-placeholder="Вся Україна" style="width:100%;" tabindex="3")
                        option(value="")
                        option(value="Регіон 1") Регіон 1
                        option(value="Регіон 2") Регіон 2
                      a.form-registr-invest__links.ui-form__links(href="#") Додати ще регіон

                .row
                  .col-md-8.col-md-offset-2
                    fieldset.ui-form__group.ui-form__group_mrg-top
                      legend.form-registr-invest__title.ui-form__title Контактна інформація
                      .row
                        .col-md-6
                          input.form-control(type="text", placeholder="Прізвище*")
                          input.form-control(type="text", placeholder="Ім'я*")
                          input.form-control(type="text", placeholder="По батькові")
                        .col-md-6
                          input.form-control(type="tel", placeholder="Телефон*")
                          input.form-control(type="email", placeholder="Еmail*")
                          input.form-control(type="url", placeholder="Facebook")
                      .row
                        .col-md-6
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть фото
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")


                .row
                  .col-md-8.col-md-offset-2
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Інформація про організацію
                      .row
                        .col-md-6
                          input.form-control(type="text", placeholder="Назва")
                          input.form-control(type="text", placeholder="Галузь")
                          input.form-control(type="text", placeholder="Посада")
                          input.form-control(type="text", placeholder="IHH")
                        .col-md-6
                          input.form-control(type="text", placeholder="Юридична адреса")
                          input.form-control(type="text", placeholder="Фактичний адреса")
                          input.form-control(type="text", placeholder="Поштовий індекс")

                .row
                  .col-md-8.col-md-offset-2
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Завершення реєстрації
                      .row
                        .col-md-6
                          input.form-control(type="password", placeholder="Пароль*")
                          input.form-control(type="password", placeholder="Повторіть пароль*")
                        .col-md-6
                          input.form-control(type="text", placeholder="Введіть код з картинки*")
                .row
                  .col-md-8.col-md-offset-2
                    .checkbox-group
                      input.forms__check.hidden#check-1(type="checkbox")
                      label.forms__label.forms__label-check.forms__label-check-1(for="check-1") Згоден на отримання розсилки
                .row
                  .col-xs-12
                    .text-center
                      button.form-registr-invest__subm.ui-form__subm.btn.btn-primary Зареєструватися

            .tab-pane.fade#investor
              form.form-registr-invest.ui-form.ui-form_pdg_btm
                .row
                  .col-md-4
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Тип користувача
                      select.select_box(data-placeholder="Юридична особа" style="width:100%;" tabindex="1")
                        option(value="")
                        option(value="Юридична особа") Юридична особа
                        option(value="Фізична особа") Фізична особа
                  .col-md-4
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Проекти для інвестування
                      select.select_box(data-placeholder="Всі категорії" style="width:100%;" tabindex="2")
                        option(value="")
                        option(value="Категорія 1") Категорія 1
                        option(value="Категорія 2") Категорія 2
                      a.form-registr-invest__links.ui-form__links(href="#") Додати ще категорію
                  .col-md-4
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Виберете регіон
                      select.select_box(data-placeholder="Вся Україна" style="width:100%;" tabindex="3")
                        option(value="")
                        option(value="Регіон 1") Регіон 1
                        option(value="Регіон 2") Регіон 2
                      a.form-registr-invest__links.ui-form__links(href="#") Додати ще регіон

                .row
                  .col-md-8.col-md-offset-2
                    fieldset.ui-form__group.ui-form__group_mrg-top
                      legend.form-registr-invest__title.ui-form__title Контактна інформація
                      .row
                        .col-md-6
                          input.form-control(type="text", placeholder="Прізвище*")
                          input.form-control(type="text", placeholder="Ім'я*")
                          input.form-control(type="text", placeholder="По батькові")
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть фото
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-6
                          input.form-control(type="tel", placeholder="Телефон*")
                          input.form-control(type="email", placeholder="Еmail*")
                          input.form-control(type="url", placeholder="Facebook")
                          .b-projects-form__slider
                            .b-projects-form__subtitle Розмір запропонованних інвестицій
                            input.range_03(type="text" name="name" value="")


                .row
                  .col-md-8.col-md-offset-2
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Інформація про організацію
                      .row
                        .col-md-6
                          input.form-control(type="text", placeholder="Назва")
                          input.form-control(type="text", placeholder="Галузь")
                          input.form-control(type="text", placeholder="Посада")
                          input.form-control(type="text", placeholder="IHH")
                        .col-md-6
                          input.form-control(type="text", placeholder="Юридична адреса")
                          input.form-control(type="text", placeholder="Фактичний адреса")
                          input.form-control(type="text", placeholder="Поштовий індекс")

                .row
                  .col-md-8.col-md-offset-2
                    fieldset.ui-form__group
                      legend.form-registr-invest__title.ui-form__title Завершення реєстрації
                      .row
                        .col-md-6
                          input.form-control(type="password", placeholder="Пароль*")
                          input.form-control(type="password", placeholder="Повторіть пароль*")
                        .col-md-6
                          input.form-control(type="text", placeholder="Введіть код з картинки*")
                .row
                  .col-md-8.col-md-offset-2
                    .checkbox-group
                      input.forms__check.hidden#check-1(type="checkbox")
                      label.forms__label.forms__label-check.forms__label-check-1(for="check-1") Згоден на отримання розсилки


                .row
                  .col-xs-12
                    .text-center
                      button.form-registr-invest__subm.ui-form__subm.btn.btn-primary Зареєструватися



        //-.row
          .col-xs-12
            .checkbox-group
              input.forms__check.hidden#check-1(type="checkbox")
              label.forms__label.forms__label-check.forms__label-check-1(for="check-1") Check box (Unchecked)
              input.forms__check.hidden#check-2(type="checkbox" checked)
              label.forms__label.forms__label-check.forms__label-check-1(for="check-2") Check box (checked)

            .label-group
              input.forms__radio.hidden#forms__radio-1(type="radio", name="radio-group-2", value="")
              label.forms__label.forms__label-radio.forms__label-radio-1(for="forms__radio-1") Прямі
              input.forms__radio.hidden#forms__radio-2(type="radio", name="radio-group-2", value="", checked)
              label.forms__label.forms__label-radio.forms__label-radio-1(for="forms__radio-2") Кредитування


  .page__buffer
