extends _template.pug


block head
  head
    +head(head.registrProj)

block content

  main.l-content
    .container
      .row
        .col-xs-12
          .l-content__head
            h1.ui-title-page.pull-left Реєстрація інвестиційного проекту


          ul.form-registr-project__nav.nav.nav-tabs
            li.active
              a(href="#land" data-toggle="tab") Земельної ділянки
            li
              a(href="#realty" data-toggle="tab") Об’єкту нерухомості

          .tab-content
            .tab-pane.fade.in.active#land
              form.form-registr-project.ui-form.ui-form_pdg_btm
                .row
                  .col-xs-12
                    fieldset.ui-form__group.ui-form__group_mrg-top
                      legend.ui-form__title Загальна інформація про проект
                      .row
                        .col-md-4
                          input.form-control(type="text", placeholder="Назва")
                          select.select_box(data-placeholder="Галузь" style="width:100%;" tabindex="5")
                            option(value="")
                            option(value="Галузь 1") Галузь 1
                            option(value="Галузь 2") Галузь 2
                        .col-md-4
                          input.form-control(type="text", placeholder="Адреса")
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Додати фото проекту
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          input.form-control(type="text", placeholder="Можливе використання")
                          input.form-control(type="text", placeholder="Вартість")
                      .row
                        .col-xs-12
                          textarea.form-control(rows="5", placeholder="Опис проекту")
                .row
                  .col-xs-12
                    fieldset.ui-form__group
                      legend.ui-form__title Детальна інформація про проект
                      .row
                        .col-md-4
                          input.form-control(type="text", placeholder="Межі ділянки")
                          select.select_box(data-placeholder="Цільове призначення" style="width:100%;" tabindex="1")
                            option(value="")
                            option(value="призначення 1") призначення 1
                            option(value="призначення 2") призначення 2
                        .col-md-4
                          input.form-control(type="text", placeholder="Площа (га)")
                          select.select_box(data-placeholder="Форма власності" style="width:100%;" tabindex="2")
                            option(value="")
                            option(value="державна") державна
                            option(value="комунальна") комунальна
                            option(value="приватна") приватна
                        .col-md-4
                          select.select_box(data-placeholder="Оголошення" style="width:100%;" tabindex="4")
                            option(value="")
                            option(value="на продаж") на продаж
                            option(value="в оренду") в оренду

                .row
                  .col-xs-12
                    fieldset.ui-form__group
                      legend.ui-form__title Технічна документація
                      .row
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")

                .row
                  .col-xs-12
                    fieldset.ui-form__group
                      legend.ui-form__title Розпорядчі рішення, договорів оренди та інше
                      .row
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                .row
                  .col-xs-12
                    .text-center
                      button.form-registr-invest__subm.ui-form__subm.btn.btn-primary зареєструвати проект


            .tab-pane.fade#realty
              form.form-registr-project.ui-form.ui-form_pdg_btm
                .row
                  .col-xs-12
                    fieldset.ui-form__group.ui-form__group_mrg-top
                      legend.ui-form__title Загальна інформація про проект
                      .row
                        .col-md-4
                          input.form-control(type="text", placeholder="Назва")
                          select.select_box(data-placeholder="Галузь" style="width:100%;" tabindex="5")
                            option(value="")
                            option(value="Галузь 1") Галузь 1
                            option(value="Галузь 2") Галузь 2
                        .col-md-4
                          input.form-control(type="text", placeholder="Адреса")
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Додати фото проекту
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          input.form-control(type="text", placeholder="Можливе використання")
                          input.form-control(type="text", placeholder="Вартість")
                      .row
                        .col-xs-12
                          textarea.form-control(rows="5", placeholder="Опис проекту")
                .row
                  .col-xs-12
                    fieldset.ui-form__group
                      legend.ui-form__title Детальна інформація про проект
                      .row
                        .col-md-4
                          select.select_box(data-placeholder="Тип объекту нерухомості" style="width:100%;" tabindex="5")
                            option(value="")
                            option(value="Тип 1") Тип 1
                            option(value="Тип 2") Тип 2
                          select.select_box(data-placeholder="Цільове призначення" style="width:100%;" tabindex="6")
                            option(value="")
                            option(value="призначення 1") призначення 1
                            option(value="призначення 2") призначення 2
                            option(value="призначення 3") призначення 3
                          input.form-control(type="text", placeholder="площа (м.кв.)")
                        .col-md-4
                          input.form-control(type="text", placeholder="Кількість поверхів")
                          input.form-control(type="text", placeholder="рік побудови")
                        .col-md-4
                          select.select_box(data-placeholder="Форма власності" style="width:100%;" tabindex="7")
                            option(value="")
                            option(value="державна") державна
                            option(value="комунальна") комунальна
                            option(value="приватна") приватна
                          select.select_box(data-placeholder="Оголошення" style="width:100%;" tabindex="9")
                            option(value="")
                            option(value="на продаж") на продаж
                            option(value="в оренду") в оренду

                .row
                  .col-xs-12
                    fieldset.ui-form__group
                      legend.ui-form__title Технічна документація
                      .row
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")

                .row
                  .col-xs-12
                    fieldset.ui-form__group
                      legend.ui-form__title Розпорядчі рішення, договорів оренди та інше
                      .row
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                        .col-md-4
                          label.btn.btn-upload.btn-primary.uploadbutton
                            .input Виберіть файл
                            input(type="file" onchange="this.previousSibling.previousSibling.innerHTML = this.value")
                .row
                  .col-xs-12
                    .text-center
                      button.form-registr-invest__subm.ui-form__subm.btn.btn-primary зареєструвати проект



  .page__buffer
