.b-brands {
}
.section-brands {
  padding-top: 50px;
  padding-bottom: 120px;
  @media (max-width:767px) {
    padding-top: 0;
    padding-bottom: 70px;
  }
}

.b-brands-list {
  text-align: center;
  margin-right: -20px;
  margin-left: -20px;
  @media (max-width:991px) {
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width:767px) {
  }
  &__item {
    width: 20%;
    margin-right: -5px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    text-align: left;
    @media (max-width:991px) {
      width: 33.33%;
    }
  }
  &__inner {
    height: 150px;
    padding: 0 10px;
    background-color: #FAFDFB;
    display: block;

    @include helper;
    @media (max-width:767px) {
      height: auto;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__logo {
    vertical-align: middle;
    display: inline-block;
    max-width: 95%;
  }
  &__title {
    color: #06192e;
    font-family: $font-family-serif;
    margin-top: 5px;
    @media (max-width:767px) {
      display: none;
    }
  }
}
