mixin b-brands()

  .section-brands
    .container
      .row
        .col-xs-12
          ul.b-brands-list.list-unstyled
            li.b-brands-list__item
              a.b-brands-list__inner(href="#")
                img.b-brands-list__logo.img-responsive(src="assets/media/components/b-brands/logo-1.jpg", alt="brand")
              .b-brands-list__title Торгово-промислова палата України
            li.b-brands-list__item
              a.b-brands-list__inner(href="#")
                img.b-brands-list__logo.img-responsive(src="assets/media/components/b-brands/logo-2.jpg", alt="brand")
              .b-brands-list__title Програма USAID "РАДА: реалізується за підтримки Агентства США
            li.b-brands-list__item
              a.b-brands-list__inner(href="#")
                img.b-brands-list__logo.img-responsive(src="assets/media/components/b-brands/logo-3.jpg", alt="brand")
              .b-brands-list__title Реалізується за підтримки Агентства США
            li.b-brands-list__item
              a.b-brands-list__inner(href="#")
                img.b-brands-list__logo.img-responsive(src="assets/media/components/b-brands/logo-4.jpg", alt="brand")
              .b-brands-list__title Северная экологическая финансовая корпорация
            li.b-brands-list__item
              a.b-brands-list__inner(href="#")
                img.b-brands-list__logo.img-responsive(src="assets/media/components/b-brands/logo-5.jpg", alt="brand")
              .b-brands-list__title Северная экологическая финансовая корпорация

  // end .b-brands
