mixin b-welcome()

  section.b-welcome(class!=attributes.class)
    .container
      .row
        .col-xs-12
          .b-welcome__inner
            .b-welcome__main
              h2.b-welcome__title Вітаю Вас на інвестиційному<br>порталі Донеччини!
              .b-welcome__info Інвестиційна привабливість — це не тільки фінансово-економічній показник, а модель кількісних і якісних показників, тому ми зацікавлені у висвітленні достовірної, оперативної та різнобічної інформації про інвестиційний та економічний потенціал району, що стане однією з форм взаємодії влади, громади та бізнесу в напрямку реалізації інвестиційних проектів
            .b-welcome__second
              .b-welcome__img
                img.img-scale(src="assets/media/content/b-welcome/1.jpg", alt="foto")
              span.b-welcome__name Олександр Куць
              span.b-welcome__categorie Голова Донецької обласної військово-цивільної адміністрації
  // end .b-welcome
  |
  |
