.b-modal-regions {
  color: #FFF;
  background-color: rgba(19, 19, 19, 0.9);
  font-family: $font-family-serif;
  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  &__form-search {
    input {
      background-color: transparent;
      border: 1px solid #797b80;
      color: white;
      padding: 10px;
      font-size: 18px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__nav {
    margin-top: 30px;
  }
  &__tab {
    padding-top: 50px;
  }
  &__list {}
  &__list-item {
    width: 25%;
    padding-right: 40px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    @media (max-width:991px) {
      width: 50%;
    }
    @media (max-width:767px) {
      width: 100%;
    }
  }
  &__list-link {
    font-size: 17px;
    color: white;
    text-decoration: none;
    position: relative;
    padding-left: 25px;
    line-height: 1.2;
    margin-bottom: 20px;
    display: block;
    &.active,
    &:hover {
      color: #FFC320;
      text-decoration: none;
    }
    &.big-city,
    &.small-city {
      &:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        background-color: grey;
        border-radius: 50%;
        width: 5px;
        height: 5px;
      }
    }
    &.small-city {
      &:before {
        border: 3px solid grey;
        margin-left: -1px;
      }
    }
    &.big-city {
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 3px solid grey;
      }
    }
  }

  .btn {
    margin-top: 20px;
  }
  &__note {
    margin-top: 20px;
    font-size: 15px;
  }
  &__add-region {
    text-align: center;
    margin-top: 10px;
  }
  .close {
    opacity: 1;
    font-size: 44px;
    color: #FFF;
    transition: all .3s;
    &:hover {
      color: #000;
    }
  }
}
