mixin b-modal-regions()

  .b-modal-regions.fade#RegionCityModal.modal(tabindex="-1" role="dialog" aria-hidden="true")
    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
    .container
      .row
        .col-xs-12
          h3.b-modal-regions__title Оберіть вашу громаду

          form.b-modal-regions__form-search#modalCityForm
            input#modalCityInput(type="text" placeholder="Введіть назву міста, селища, області чи району")


          ul.b-modal-regions__nav.nav.nav-pills.row
            li.active
              a(data-toggle="pill" href="#citieslist") Найбільш активні громади
            li
              a(data-toggle="pill" href="#regionslist") Згруповані за областями

          .tab-content
            .b-modal-regions__tab.tab-pane.fade.active.in#citieslist
              ul.b-modal-regions__list.list-unstyled
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.active.big-city(href="/lviv/Home/ChangeCity" data-region="Львівська область") Львів
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/dnipropetrovsk/Home/ChangeCity" data-region="Дніпропетровська область") Дніпро
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/lutsk/Home/ChangeCity" data-region="Волинська область") Луцьк
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/vinnytsia/Home/ChangeCity" data-region="Вінницька область") Вінниця
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/ternopil/Home/ChangeCity" data-region="Тернопільська область") Тернопіль
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/chernihiv/Home/ChangeCity" data-region="Чернігівська область") Чернігів
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.small-city(href="/kherson/Home/ChangeCity" data-region="Херсонська область") Херсон
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/khmelnytsky/Home/ChangeCity" data-region="Хмельницька область") Хмельницький
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/chernivtsi/Home/ChangeCity" data-region="Чернівецька область") Чернівці
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/kirovohrad/Home/ChangeCity" data-region="Кіровоградська область") Кропивницький
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/sumy/Home/ChangeCity" data-region="Сумська область") Суми
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/lviv-or/Home/ChangeCity" data-region="Львівська область") Львівська обласна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/volyn-or/Home/ChangeCity" data-region="Волинська область") Волинська обласна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/zhytomyr-or/Home/ChangeCity" data-region="Житомирська область") Житомирська обласна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.small-city(href="/kirovograd-or/Home/ChangeCity" data-region="Кіровоградська область") Кіровоградська обласна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/khmelnytskyi-or/Home/ChangeCity" data-region="Хмельницька область") Хмельницька обласна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.small-city(href="/poltava-or/Home/ChangeCity" data-region="Полтавська область") Полтавська обласна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/sumy-or/Home/ChangeCity" data-region="Сумська область") Сумська обласна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.big-city(href="/chernihiv-or/Home/ChangeCity" data-region="Чернігівська область") Чернігівська обласна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.small-city(href="/andrushivka-rr/Home/ChangeCity" data-region="Житомирська область") Андрушівська районна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.small-city(href="/bershad-rr/Home/ChangeCity" data-region="Вінницька область") Бершадська районна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.small-city(href="/volodymyr-volynskyi-rr/Home/ChangeCity" data-region="Волинська область") Володимир-Волинська районна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.small-city(href="/bashtanka-rr/Home/ChangeCity" data-region="Миколаївська область") Баштанська районна рада
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link.small-city(href="/balta-rr/Home/ChangeCity" data-region="Одеська область") Балтська районна рада

              .text-center
                .btn.btn-primary#showAllCities
                  span +
                  | ще 99 громад!
                .b-modal-regions__note Використовуйте пошук, щоб знайти вашу громаду

            .b-modal-regions__tab.tab-pane.fade#regionslist
              #regionView(style="display: none;")
              ul.b-modal-regions__list.list-unstyled
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Вінницька область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Волинська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Дніпропетровська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Донецька область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Житомирська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Запорізька область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Івано-Франківська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Київська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Кіровоградська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Луганська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Львівська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Миколаївська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Одеська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Полтавська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Рівненська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Сумська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Тернопільська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Харківська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Херсонська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Хмельницька область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Черкаська область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Чернівецька область
                li.b-modal-regions__list-item
                  a.b-modal-regions__list-link(href="#") Чернігівська область

          .b-modal-regions__add-region
            a#shownoregion(data-toggle="popover" data-placement="bottom" data-content="<p>Якщо в Вашій громаді відсутня можливість подати електронну петицію, поінформуйте місцеву владу про нашу систему.</p> <p>Підключення є безкоштовним, для цього потрібна тільки згода місцевої ради.</p>" data-original-title="" title="" href="#") Не знайшли свою громаду?

  // end .b-modal-regions
