mixin footer()
  footer.footer
    .footer__main
      .container
        .row
          .col-lg-4.col-md-3
            .footer__inner
              a.footer__logo(href="index.html")
                img.img-responsive(src="assets/media/general/logo.png", alt="logo")
              .footer-title Єдиний інформаційний
                span.footer-title__lg ІНВЕСТИЦІЙНИЙ ПОРТАЛ УКРАЇНИ
            ul.footer-social-net.list-inline
              li.footer-social-net__item
                a.footer-social-net__link.fa.fa-twitter(href="#")
              li.footer-social-net__item
                a.footer-social-net__link.fa.fa-facebook(href="#")
              li.footer-social-net__item
                a.footer-social-net__link.fa.fa-vk(href="#")
          .col-lg-5.col-md-6
            ul.footer-nav.list-unstyled
              li.footer-nav__item
                a.footer-nav__link(href="#") Про регіон
              li.footer-nav__item
                a.footer-nav__link(href="#") Інвестиційна карта
              li.footer-nav__item
                a.footer-nav__link(href="#") Бізнес інфраструктура
              li.footer-nav__item
                a.footer-nav__link(href="#") Путівник
              li.footer-nav__item
                a.footer-nav__link(href="#") Наші переваги
              li.footer-nav__item
                a.footer-nav__link(href="#") Подати заявку
              li.footer-nav__item
                a.footer-nav__link(href="#") Успішні проекти
              li.footer-nav__item
                a.footer-nav__link(href="#") Реєстрація інвестора
              li.footer-nav__item
                a.footer-nav__link(href="#") Інвестору на замітку
              li.footer-nav__item
                a.footer-nav__link(href="#") Надати проект
              li.footer-nav__item
                a.footer-nav__link(href="#") Зовнішньоекономічна діяльність
              li.footer-nav__item
                a.footer-nav__link(href="#") Знайти інвестиції
              li.footer-nav__item
                a.footer-nav__link(href="#") Інноваційний ринок
              li.footer-nav__item
                a.footer-nav__link(href="#") Задати запитання
              li.footer-nav__item
                a.footer-nav__link(href="#") Контакти
          .col-md-3
            form.footer-form
              h3.footer-form__title Підписатись на розсилку
              select.select_box(data-placeholder="Категорія розсилки" style="width:100%;" tabindex="1")
                option(value="")
                option(value="Категорія 1") Категорія 1
                option(value="Категорія 2") Категорія 2
              input.form-control(type="text", placeholder="Ваше ім`я")
              input.form-control(type="email", placeholder="Ваша електронна адреса")
              button.btn.btn-primary.btn-block відправити

    .copyright
      .container
        .row
          .col-xs-12
            .copyright__inner Всі права захищені 2016
            a.copyright__develop(href="bissoft.org")
              img.img-responsive(src="assets/media/general/logo-develop.png", alt="bissoft")

  // end .footer
