.footer {
  color: #FFF;
  background-color: #383c46;
  background-image: url(../media/content/bg/main-bg.jpg);
  position: relative;
  &:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  @media (max-width:991px) {
    &:after {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  &__main {
    position: relative;
    z-index: 10;
    padding-top: 57px;
    padding-bottom: 60px;
  }
  &__inner {}
  &__logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 55px;
    margin-right: 17px;
    margin-left: 23px;
    @media (max-width:1199px) {
      display: block;
      margin-top: -10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.footer-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  max-width: 224px;
  margin-top: 6px;
  text-shadow: 0.7px 0.7px 1px rgba(35, 31, 32, 0.75);
  &__lg {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    line-height: 1.3;
    @media (max-width:1199px) {
      font-size: 23px;
    }
  }
  @media (max-width:1199px) {
    text-align: center;
    max-width: 100%;
  }
  @media (max-width:991px) {
    margin-bottom: 20px;
    text-align: center;
    display: block;
    max-width: 100%;
  }
}

.footer-nav {
  padding-left: 20px;
  @media (max-width:1199px) {
    padding-left: 0;
  }
  @media (max-width:991px) {
    padding-top: 40px;
  }
  &__item {
    display: inline-block;
    width: 50%;
    margin-right: -3px;
    vertical-align: top;
    &:nth-child(odd) {
      padding-right: 30px;
    }
    @media (max-width:1199px) {
      padding-left: 30px;
      &:nth-child(odd) {
        padding-right: 0;
      }
    }
    @media (max-width:767px) {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }
  &__link {
    color: #FFF;
    font-size: 16px;
    line-height: 1;
    display: block;
    margin-bottom: 12px;
    transition: all .3s;
    text-shadow: 0px 0px 3px #000;
    &:hover {
      color: #FFF;
    }
    @media (max-width:991px) {
      text-shadow: 1px 1px 1px #000;
    }
    @media (max-width:767px) {
      font-size: 20px;
      padding-bottom: 8px;
    }
  }
}

.footer-form {
  margin-left: 10px;
  &__title {
    font-size: 18px;
    margin-top: 0;
    text-shadow: 0px 0px 3px #000;
  }
  .btn {
    font-family: $font-family-serif;
  }

  @media (max-width:991px) {
    margin-top: 60px;
  }
  @media (max-width:767px) {
    margin-left: 0;
  }
}

.footer-social-net {
  display: inline-block;
  margin-top: 54px;
  margin-left: 97px;
  @media (max-width:1199px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  @media (max-width:991px) {
    margin-top: 20px;
  }
  &__link {
    color: #383C46;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    width: 32px;
    height: 32px;
    font-size: 23px;
    line-height: 32px;
    text-align: center;
    transition: all .3s;
    &:hover {
      text-decoration: none;
      color: #383C46;
      background-color: $brand-primary;
      color: #FFF;
    }
  }
  &__item {
  }
  @media (max-width:767px) {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.copyright {
  position: relative;
  z-index: 10;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 100%);
  font-size: 14px;
  height: 100px;

  &__inner {
    padding: 40px 150px 0;
    @media (max-width:767px) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 10px;
    }
  }

  &__develop {
    width: 100px;
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
    @media (max-width:991px) and (min-width:768px) {
      left: 10px;
    }
    @media (max-width:767px) {
      position: relative;
      top: 0;
    }
  }
  @media (max-width:767px) {
    height: auto;
    padding-bottom: 15px;
  }

}
