.section-projects {
  position: relative;
  margin-top: 25px;
  &__title {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 17px;
    padding-left: 125px;
    padding-right: 125px;
    @media (max-width:767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .btns-switch {
    position: absolute;
    right: 0;
    top: 10px;
    &__item {
      font-size: 37px;
      color: #afb0b0;
      cursor: pointer;
      transition: all .3s;
      margin-left: 20px;
      &:hover,
      &.active {
        color: $brand-primary;
      }
    }
    @media (max-width:767px) {
      position: relative;
      right: auto;
      top: auto;
      text-align: right;
      margin-bottom: 20px;
    }
  }
}


.list-projects {
  &__item {
    @include clearfix;
    color: #333945;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.24);
  }
  &__img {
    max-width: 500px;
    float: right;
    position: relative;
    &:after {
      content: '';
      border-left: 15px solid #fff;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -15px;
    }
    @media (max-width:991px) {
      &:after {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        left: 50%;
        top: auto;
        bottom: 0;
        margin-left: -15px;
      }
    }
    @media (max-width:991px) {
      float: none;
    }
  }
  &__inner {
    padding: 0 550px 0 17px;
    @media (max-width:991px) {
      padding-right: 0;
    }
  }
  &__title {
    font-size: 30px;
    font-family: "Roboto Condensed", "Times New Roman", Times, serif;
    margin-top: 20px;
    margin-bottom: 38px;
    a {
      color: #333945;
    }
  }
  &__description {
    margin-bottom: 15px;
  }
  &__category {
    color: #7e7e7e;
    font-weight: 400;
    float: left;
    margin-right: 15px;
  }
  &__info {
    margin-bottom: 5px;
  }
  &__price {
    margin-bottom: 25px;
  }

  &_col {
    display: flex;
    flex-flow: row wrap;
    .description_hidden {
      display: none;
    }
  }

  &_col & {
    &__item {
      width: 33.333%;
      margin-bottom: 0;
      @media (max-width:991px) and (min-width:768px) {
        width: 50%;
      }
      @media (max-width:767px) {
        width: 100%;
        display: block;
        margin-right: 0;
      }
    }
    &__img {
      float: none;
      width: 100%;
      img {
        max-width: 100%;
        height: auto;
      }
      &:after {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        left: 50%;
        top: auto;
        bottom: 0;
        margin-left: -15px;
      }
    }
    &__inner {
      padding-right: 20px;
      padding-left: 28px;
    }
    &__title {
      font-size: 24px;
      margin-top: 22px;
      margin-bottom: 45px;
      a {
      }
    }
    &__description {
      margin-bottom: 10px;
    }
    &__category {
    }
    &__info {
      margin-bottom: 0;
    }
    &__price {
    }


  }
}

