mixin list-projects()

  ul.list-projects.list-unstyled
    li.list-projects__item
      .list-projects__img
        img.img-responsive(src="assets/media/components/list-projects/500x315_1.jpg", alt="foto")
      .list-projects__inner
        h3.list-projects__title
          a(href="#") Проект № 584
        dl.list-projects__description
          dt.list-projects__category Галузь
          dd.list-projects__info Інфраструктура
          dt.list-projects__category Адреса
          dd.list-projects__info м.Київ, вул. Ломоносова, 55
          dt.list-projects__category.description_hidden Призначення
          dd.list-projects__info.description_hidden Гуртожиток
          dt.list-projects__category.description_hidden Можл/ використання
          dd.list-projects__info.description_hidden Нічний клуб
          dt.list-projects__category.description_hidden Площа
          dd.list-projects__info.description_hidden Технічні дані
        .list-projects__price.text-primary
          strong 1 000 000
          |  гривень
    li.list-projects__item
      .list-projects__img
        img.img-responsive(src="assets/media/components/list-projects/500x315_1.jpg", alt="foto")
      .list-projects__inner
        h3.list-projects__title
          a(href="#") Проект № 584 Назва проекту можливо бути
        dl.list-projects__description
          dt.list-projects__category Галузь
          dd.list-projects__info Інфраструктура
          dt.list-projects__category Адреса
          dd.list-projects__info м.Київ, вул. Ломоносова, 55
          dt.list-projects__category.description_hidden Призначення
          dd.list-projects__info.description_hidden Гуртожиток
          dt.list-projects__category.description_hidden Можл/ використання
          dd.list-projects__info.description_hidden Нічний клуб
          dt.list-projects__category.description_hidden Площа
          dd.list-projects__info.description_hidden Технічні дані
        .list-projects__price.text-primary
          strong 1 000 000
          |  гривень
    li.list-projects__item
      .list-projects__img
        img.img-responsive(src="assets/media/components/list-projects/500x315_1.jpg", alt="foto")
      .list-projects__inner
        h3.list-projects__title
          a(href="#") Проект № 584 Назва проекту можливо бути
        dl.list-projects__description
          dt.list-projects__category Галузь
          dd.list-projects__info Інфраструктура
          dt.list-projects__category Адреса
          dd.list-projects__info м.Київ, вул. Ломоносова, 55
          dt.list-projects__category.description_hidden Призначення
          dd.list-projects__info.description_hidden Гуртожиток
          dt.list-projects__category.description_hidden Можл/ використання
          dd.list-projects__info.description_hidden Нічний клуб
          dt.list-projects__category.description_hidden Площа
          dd.list-projects__info.description_hidden Технічні дані
        .list-projects__price.text-primary
          strong 1 000 000
          |  гривень
    li.list-projects__item
      .list-projects__img
        img.img-responsive(src="assets/media/components/list-projects/500x315_1.jpg", alt="foto")
      .list-projects__inner
        h3.list-projects__title
          a(href="#") Проект № 584 Назва проекту можливо бути
        dl.list-projects__description
          dt.list-projects__category Галузь
          dd.list-projects__info Інфраструктура
          dt.list-projects__category Адреса
          dd.list-projects__info м.Київ, вул. Ломоносова, 55
          dt.list-projects__category.description_hidden Призначення
          dd.list-projects__info.description_hidden Гуртожиток
          dt.list-projects__category.description_hidden Можл/ використання
          dd.list-projects__info.description_hidden Нічний клуб
          dt.list-projects__category.description_hidden Площа
          dd.list-projects__info.description_hidden Технічні дані
        .list-projects__price.text-primary
          strong 1 000 000
          |  гривень
    li.list-projects__item
      .list-projects__img
        img.img-responsive(src="assets/media/components/list-projects/500x315_1.jpg", alt="foto")
      .list-projects__inner
        h3.list-projects__title
          a(href="#") Проект № 584 Назва проекту можливо бути
        dl.list-projects__description
          dt.list-projects__category Галузь
          dd.list-projects__info Інфраструктура
          dt.list-projects__category Адреса
          dd.list-projects__info м.Київ, вул. Ломоносова, 55
          dt.list-projects__category.description_hidden Призначення
          dd.list-projects__info.description_hidden Гуртожиток
          dt.list-projects__category.description_hidden Можл/ використання
          dd.list-projects__info.description_hidden Нічний клуб
          dt.list-projects__category.description_hidden Площа
          dd.list-projects__info.description_hidden Технічні дані
        .list-projects__price.text-primary
          strong 1 000 000
          |  гривень
    li.list-projects__item
      .list-projects__img
        img.img-responsive(src="assets/media/components/list-projects/500x315_1.jpg", alt="foto")
      .list-projects__inner
        h3.list-projects__title
          a(href="#") Проект № 584 Назва проекту можливо бути
        dl.list-projects__description
          dt.list-projects__category Галузь
          dd.list-projects__info Інфраструктура
          dt.list-projects__category Адреса
          dd.list-projects__info м.Київ, вул. Ломоносова, 55
          dt.list-projects__category.description_hidden Призначення
          dd.list-projects__info.description_hidden Гуртожиток
          dt.list-projects__category.description_hidden Можл/ використання
          dd.list-projects__info.description_hidden Нічний клуб
          dt.list-projects__category.description_hidden Площа
          dd.list-projects__info.description_hidden Технічні дані
        .list-projects__price.text-primary
          strong 1 000 000
          |  гривень
    li.list-projects__item
      .list-projects__img
        img.img-responsive(src="assets/media/components/list-projects/500x315_1.jpg", alt="foto")
      .list-projects__inner
        h3.list-projects__title
          a(href="#") Проект № 584 Назва проекту можливо бути
        dl.list-projects__description
          dt.list-projects__category Галузь
          dd.list-projects__info Інфраструктура
          dt.list-projects__category Адреса
          dd.list-projects__info м.Київ, вул. Ломоносова, 55
          dt.list-projects__category.description_hidden Призначення
          dd.list-projects__info.description_hidden Гуртожиток
          dt.list-projects__category.description_hidden Можл/ використання
          dd.list-projects__info.description_hidden Нічний клуб
          dt.list-projects__category.description_hidden Площа
          dd.list-projects__info.description_hidden Технічні дані
        .list-projects__price.text-primary
          strong 1 000 000
          |  гривень

  // end .list-projects


