// Инфоблок нового дизайна

.map-popover {
  display: block;
  width: 200px;
  height: 55px;
  position: relative;
  box-shadow: 0 1px 6px #8e8e8e;
  background-color: #fff;
  top: -10px;
  left: 10px;
  &:hover {
    text-decoration: none;
  }
  &:after {
    content: '';
    width: 38px;
    height: 24px;
    background-image: url(../media/content/map-img/map-decor_arr.png);
    position: absolute;
    bottom: -23px;
    right: 60px;
  }
}
.map-popover .link {
  font-size: 20px;
}

.map-popover__img {
  width: 63px;
  float: left;
  margin-right: 5px;
}
.map-popover__inner {
  font-size: 10px;
}
.map-popover__title {
  color: #2c3847;
  font-weight: 400;
  display: block;
  line-height: 1;
  margin-top: 10px;
  max-height: 20px;
  overflow: hidden;
  + .map-popover__title {
    margin-top: 2px;
  }
}
.map-popover__date {
  color: #929292;
  margin-top: 3px;
}
.map-popover_without-img {
  height: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  .map-popover__title {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
  }
}


// .map-popover .list-projects__wrap {
//   max-height: 100%; }

// .map-popover .list-projects__img {
//   float: none;
//   display: block;
//   max-width: 200px;}

// .map-popover .list-projects__img:after {
//   content: none; }

// .map-popover .list-projects__img img {
//   width: auto;
//   max-width: 100% !important; }

// .map-popover .list-projects__inner {
//   max-height: 100%;
//   padding-left: 0;
//   padding-right: 0;
//   max-width: 200px;}

// .map-popover .list-projects__title {
//   padding-top: 10px;
//   padding-bottom: 10px;
//   margin-top: 0;
//   margin-bottom: 0;
//   padding-left: 5px;
//   font-size: 18px;
//   background-color: #236294;
//   font-weight: bold;
//   color: #FFF; }

// .map-popover .list-projects__title a {
//   color: #FFF; }

// .map-popover .list-projects__description {
//   display: none; }

// .map-popover .list-projects__price {
//   display: none;}



// .map-popover {
//     &__img {
//       &:after {
//         content: none;
//       }
//       img {
//         width: auto;
//         max-width: 100% !important;
//       }
//     }
//     &__inner {
//       max-height: 100%;
//       padding-left: 0;
//       padding-right: 0;;
//     }
//     &__title {
//       padding-top: 10px;
//       padding-bottom: 10px;
//       margin-top: 0;
//       margin-bottom: 0;
//       padding-left: 5px;

//       font-size: 18px;
//       background-color: #236294;
//       font-weight: bold;
//       color: #FFF;
//       a {
//         color: #FFF;
//       }
//     }
//     &__description {
//       padding: 5px 5px 0;
//       line-height: 1;
//     }
//     &__category {
//       color: #333;
//       font-weight: bold;
//     }
//     &__info {
//       max-height: 100%;
//       &_nowrap {}
//     }
//     &__price {
//       padding: 0 5px;
//     }
//   }
// }


