mixin b-map-infoblock()
  <div class="popover top map-popover">
    <a class="close" href="#">×</a>
    <div class="arrow"></div>
    <div class="popover-inner">
      <div class="popover-content">
        <div class="map-balloon">
          <div class="map-balloon-title media bg-primary">
            <div class="media-left cell">
              <img class="map-balloon-img" alt="Газоснабжение" src="assets/media/content/map-markers/gas/6.png">
            </div>
            <div class="media-body cell">
              <a href="/contactcenter/request/2024" class="id link un">№ 2024</a><br>
              <strong class="problem text-white">
                <span class="text-elipsis">Газоснабжение:</span>
                <span class="text-elipsis"> Ремонт системы газоснабжения</span>
              </strong>
            </div>
          </div>
          <div class="map-balloon-address text-elipsis">
            <span class="fa fa-map-marker text-primary"></span>&nbsp;&nbsp;
            <span>улица Леси Украинки 60, Дружковка</span>
          </div>
          <div class="map-balloon-info map-balloon-row">
            <div class="map-balloon-col">
              <div class="map-balloon-info-row">
                <span class="name">Дата подачи обращения:</span>
                <br>16.01.2017 09:38
              </div>
              <div class="map-balloon-info-row">
                <span class="name">Исполнитель:</span><br>
                <span class="text-elipsis">Управління по газопостачанню та газифікації</span>
              </div>
            </div>
            <div class="map-balloon-col">
              <div class="map-balloon-info-row">
                <span class="name">Плановая дата выполнения:</span>
                <br>17.01.2017 09:38</div>
              <div class="map-balloon-info-row">
                <span class="name">Статус:</span><br>
                <span class="text-primary">Выполнено</span>
              </div>
            </div>
          </div>
          <div class="map-balloon-row">
            <div class="map-balloon-info-row text-center">
              <span class="name">Дата закрытия: </span>
              | 16.01.2017 09:57
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  // end .b-brands
