.section-blockquote {
  padding-top: 45px;
  margin-bottom: 57px;
}


.b-blockquote-1 {
  blockquote {
    font-style: normal;
    font-size: 18px;
    padding-left: 234px;
    border-left: none;
    padding-top: 21px;
    @media (max-width:991px) {
      padding-left: 20px;
    }
    @media (max-width:767px) {
      padding-left: 0;
      padding-right: 0;
    }
    p {
      padding-left: 260px;
      line-height: 1.667;
      @media (max-width:991px) {
        padding-left: 0;
      }
    }
  }
  .b-blockquote {
    &__cite {
      font-size: 24px;
      width: 215px;
      float: left;
      margin-top: 3px;
      @media (max-width:991px) {
        float: none;
        width: 100%;
      }
    }
    &__author {
      display: block;
      line-height: 1.25;
      @media (max-width:991px) {
        margin-bottom: 20px;
      }
    }
    &__category {
      display: block;
      font-weight: 300;
      margin-bottom: 32px;
      line-height: 1;
    }
    &__img {
      width: 196px;
      height: 196px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      margin-left: 20px;
      @media (max-width:991px) {
        margin-right: 40px;
        margin-bottom: 20px;
      }
      @media (max-width:767px) {
        margin-left: 0;
      }
    }
  }
}

