mixin b-blockquote_img(header, footer, content, author, category, img)

  .b-blockquote(class!=attributes.class)
    if img
      .b-blockquote__img
        img.img-responsive(src="assets/media/components/b-blockquote/" + img + ".jpg", alt="foto")
    blockquote
      if header
        cite.b-blockquote__cite(title="Blockquote Title")
          span.b-blockquote__category!= category
          span.b-blockquote__author!= author
      p!= content
      if footer
        cite.b-blockquote__cite(title="Blockquote Title")
          span.b-blockquote__author!= author
          span.b-blockquote__category!= category

  // end .b-blockquote
