.section-investors {
  padding-top: 10px;
}

.b-investors {
  border: 1px solid #ccc;
  margin-bottom: -1px;
  @include clearfix;
  &__img {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    margin-right: -3px;
    padding-right: 63px;
    @media (max-width:1199px) {
      padding-right: 0;
    }
    @media (max-width:991px) {
      width: 50%;
    }
    @media (max-width:767px) {
      width: 100%;
      display: block;
    }
  }
  &__info {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    margin-right: -3px;
    padding: 30px 40px 20px 0;
    vertical-align: top;
    @media (max-width:1199px) {
      padding-left: 20px;
    }
    @media (max-width:991px) {
      width: 50%;
    }
    @media (max-width:767px) {
      width: 100%;
      display: block;
    }
  }
  &__name {
    font-weight: 400;
    color: #333945;
    font-size: 30px;
    font-family: $font-family-serif;
    line-height: 1.2;
    margin-bottom: 22px;
  }
  &__category {
    color: #808285;
    line-height: 1.35;
  }
  &__total {
    margin-top: 20px;
    font-size: 15px;
  }
  &__total-price {
    font-weight: bold;
    display: block;
  }
}


.b-investors-contacts {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  width: 33.33%;
  color: #7e7e7e;
  padding: 34px 20px 0 0;
  @media (max-width:991px) {
    width: 100%;
    display: block;
    padding-left: 30px;
    border-top: 1px solid #eaeaea;
  }
  @media (max-width:767px) {
    padding-left: 10px;
  }
  &__item {
    margin-bottom: 20px;
    padding-left: 61px;
    position: relative;
    @media (max-width:1199px) {
      padding-left: 40px;
    }
    @media (max-width:991px) {
      width: 50%;
      display: inline-block;
      margin-right: -3px;
      padding-right: 40px;
    }
    @media (max-width:767px) {
      width: 100%;
      display: block;
    }
    &_mrg-top_lg {
      margin-top: 45px;
      @media (max-width:991px) {
        margin-top: 0;
      }
    }
  }
  &__icon {
    fill: #d1d3d4;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: -4px;
    @media (max-width:1199px) {
      width: 25px;
    }
  }
  &__inner {
    margin-bottom: 4px;
    line-height: 1;
  }
  &__descrip {
    color: #7e7e7e;
    display: inline-block;
    vertical-align: middle;
    @media (max-width:1199px) {
      font-size: 16px;
    }
    &_lg {
      font-size: 24px;
      line-height: 1.1;
      display: inline-block;
      vertical-align: middle;
      @media (max-width:1199px) {
        font-size: 18px;
      }
      @media (max-width:767px) {
        font-size: 16px;
      }
    }
    &_link {
      text-decoration: underline;
    }
  }
  &__time-title {
    display: inline-block;
    width: 77px;
    text-transform: uppercase;
    @media (max-width:767px) {
      display: block;
      width: auto;
    }
  }
  &__time-info {}
}


