mixin b-investors(img, name, category, price, phone, email, address, social)

  section.b-investors
    .b-investors__img
      img.img-responsive(src="assets/media/components/b-investors/" + img + ".jpg", alt="foto")
    .b-investors__info
      h2.b-investors__name!= name
      .b-investors__category!= category
      .b-investors__total Розмір запропонованих інвестицій:
        span.b-investors__total-price!= price
    .b-investors-contacts
      .b-investors-contacts__item
        != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'b-investors-contacts__icon'})
        .b-investors-contacts__descrip.b-investors-contacts__descrip_lg
          b= phone
      .b-investors-contacts__item
        != pugHelpers.Icon.call(locals, {iconName: 'letter', className: 'b-investors-contacts__icon'})
        a.b-investors-contacts__descrip.b-investors-contacts__descrip_lg(href="mailto:" + email)= email
      .b-investors-contacts__item
        != pugHelpers.Icon.call(locals, {iconName: 'place', className: 'b-investors-contacts__icon'})
        .b-investors-contacts__descrip= address
      .b-investors-contacts__item
        != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'b-investors-contacts__icon'})
        a.b-investors-contacts__descrip.b-investors-contacts__descrip_link(href="https://www.facebook.com/" + social)= social
      .b-investors-contacts__item.b-investors-contacts__item_mrg-top_lg
        != pugHelpers.Icon.call(locals, {iconName: 'clock', className: 'b-investors-contacts__icon'})
        .b-investors-contacts__descrip
          .b-investors-contacts__inner
            span.b-investors-contacts__time-title пн-пт
            span.b-investors-contacts__time-info
              b 10:00 - 19:00
          .b-investors-contacts__inner
            span.b-investors-contacts__time-title сб,вс
            span.b-investors-contacts__time-info выходные дни

  // end .b-investors

