.irs-slider:hover:after,
.chosen-container .chosen-results li.highlighted,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.b-projects-form__nav-link:hover,
.b-projects-form__nav-item.active .b-projects-form__nav-link {
  background-color: #236294;
}


@media (max-width:991px) {
  .b-interactive .nav-tabs > li.active > a,
  .b-interactive .nav-tabs > li.active > a:hover,
  .b-interactive .nav-tabs > li.active > a:focus {
    background-color: #236294;
  }
}
