mixin list-projects()

  ul.list-projects.list-unstyled(class!=attributes.class)
    li.list-projects__item
      a.list-projects__img(href="#")
        img.img-responsive(src="assets/media/components/b-list-projects/500x315_1.jpg", alt="foto")
      a.list-projects__inner(href="#")
        .list-projects__wrap
          .list-projects__title Проект № 584 Назва проекту можливо бути
          dl.list-projects__description
            dt.list-projects__category.description_hidden Назва
            dd.list-projects__info.list-projects__info_nowrap.description_hidden Комплекс по разведению и выращиванию фазанов
            dt.list-projects__category.description_hidden Вид
            dd.list-projects__info.list-projects__info_nowrap &nbsp;
            dt.list-projects__category Галузь
            dd.list-projects__info.list-projects__info_nowrap Сільське господарство
            dt.list-projects__category Адреса
            dd.list-projects__info.list-projects__info_nowrap м.Київ, вул. Ломоносова, 55
            dt.list-projects__category.description_hidden Призначення
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Организация фермерского хозяйства по разведению, выращиванию и продаже фазанов.
            dt.list-projects__category.description_hidden Можл/ використання
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Нічний клуб
            dt.list-projects__category.description_hidden Площа
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Технічні дані
          .list-projects__price.text-primary
            strong 1 000 000
            |  гривень
    li.list-projects__item
      a.list-projects__img(href="#")
        img.img-responsive(src="assets/media/components/b-list-projects/500x315_1.jpg", alt="foto")
      a.list-projects__inner(href="#")
        .list-projects__wrap
          .list-projects__title Проект № 584 Назва проекту можливо бути
          dl.list-projects__description
            dt.list-projects__category.description_hidden Назва
            dd.list-projects__info.list-projects__info_nowrap.description_hidden Комплекс по разведению и выращиванию фазанов
            dt.list-projects__category.description_hidden Вид
            dd.list-projects__info.list-projects__info_nowrap Земельна ділянка
            dt.list-projects__category Галузь
            dd.list-projects__info.list-projects__info_nowrap Сільське господарство
            dt.list-projects__category Адреса
            dd.list-projects__info.list-projects__info_nowrap м.Київ, вул. Ломоносова, 55
            dt.list-projects__category.description_hidden Призначення
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Организация фермерского хозяйства по разведению, выращиванию и продаже фазанов.
            dt.list-projects__category.description_hidden Можл/ використання
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Нічний клуб
            dt.list-projects__category.description_hidden Площа
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Технічні дані
          .list-projects__price.text-primary
            strong 1 000 000
            |  гривень
    li.list-projects__item
      a.list-projects__img(href="#")
        img.img-responsive(src="assets/media/components/b-list-projects/500x315_1.jpg", alt="foto")
      a.list-projects__inner(href="#")
        .list-projects__wrap
          .list-projects__title Проект № 584 Назва проекту можливо бути
          dl.list-projects__description
            dt.list-projects__category.description_hidden Назва
            dd.list-projects__info.list-projects__info_nowrap.description_hidden Комплекс по разведению и выращиванию фазанов
            dt.list-projects__category.description_hidden Вид
            dd.list-projects__info.list-projects__info_nowrap Земельна ділянка
            dt.list-projects__category Галузь
            dd.list-projects__info.list-projects__info_nowrap Сільське господарство
            dt.list-projects__category Адреса
            dd.list-projects__info.list-projects__info_nowrap м.Київ, вул. Ломоносова, 55
            dt.list-projects__category.description_hidden Призначення
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Организация фермерского хозяйства по разведению, выращиванию и продаже фазанов.
            dt.list-projects__category.description_hidden Можл/ використання
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Нічний клуб
            dt.list-projects__category.description_hidden Площа
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Технічні дані
          .list-projects__price.text-primary
            strong 1 000 000
            |  гривень
    li.list-projects__item
      a.list-projects__img(href="#")
        img.img-responsive(src="assets/media/components/b-list-projects/500x315_1.jpg", alt="foto")
      a.list-projects__inner(href="#")
        .list-projects__wrap
          .list-projects__title Проект № 584 Назва проекту можливо бути
          dl.list-projects__description
            dt.list-projects__category.description_hidden Назва
            dd.list-projects__info.list-projects__info_nowrap.description_hidden Комплекс по разведению и выращиванию фазанов
            dt.list-projects__category.description_hidden Вид
            dd.list-projects__info.list-projects__info_nowrap Земельна ділянка
            dt.list-projects__category Галузь
            dd.list-projects__info.list-projects__info_nowrap Сільське господарство
            dt.list-projects__category Адреса
            dd.list-projects__info.list-projects__info_nowrap м.Київ, вул. Ломоносова, 55
            dt.list-projects__category.description_hidden Призначення
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Организация фермерского хозяйства по разведению, выращиванию и продаже фазанов.
            dt.list-projects__category.description_hidden Можл/ використання
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Нічний клуб
            dt.list-projects__category.description_hidden Площа
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Технічні дані
          .list-projects__price.text-primary
            strong 1 000 000
            |  гривень
    li.list-projects__item
      a.list-projects__img(href="#")
        img.img-responsive(src="assets/media/components/b-list-projects/500x315_1.jpg", alt="foto")
      a.list-projects__inner(href="#")
        .list-projects__wrap
          .list-projects__title Проект № 584 Назва проекту можливо бути
          dl.list-projects__description
            dt.list-projects__category.description_hidden Назва
            dd.list-projects__info.list-projects__info_nowrap.description_hidden Комплекс по разведению и выращиванию фазанов
            dt.list-projects__category.description_hidden Вид
            dd.list-projects__info.list-projects__info_nowrap Земельна ділянка
            dt.list-projects__category Галузь
            dd.list-projects__info.list-projects__info_nowrap Сільське господарство
            dt.list-projects__category Адреса
            dd.list-projects__info.list-projects__info_nowrap м.Київ, вул. Ломоносова, 55
            dt.list-projects__category.description_hidden Призначення
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Организация фермерского хозяйства по разведению, выращиванию и продаже фазанов.
            dt.list-projects__category.description_hidden Можл/ використання
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Нічний клуб
            dt.list-projects__category.description_hidden Площа
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Технічні дані
          .list-projects__price.text-primary
            strong 1 000 000
            |  гривень
    li.list-projects__item
      a.list-projects__img(href="#")
        img.img-responsive(src="assets/media/components/b-list-projects/500x315_1.jpg", alt="foto")
      a.list-projects__inner(href="#")
        .list-projects__wrap
          .list-projects__title Проект № 584 Назва проекту можливо бути
          dl.list-projects__description
            dt.list-projects__category.description_hidden Назва
            dd.list-projects__info.list-projects__info_nowrap.description_hidden Комплекс по разведению и выращиванию фазанов
            dt.list-projects__category.description_hidden Вид
            dd.list-projects__info.list-projects__info_nowrap Земельна ділянка
            dt.list-projects__category Галузь
            dd.list-projects__info.list-projects__info_nowrap Сільське господарство
            dt.list-projects__category Адреса
            dd.list-projects__info.list-projects__info_nowrap м.Київ, вул. Ломоносова, 55
            dt.list-projects__category.description_hidden Призначення
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Организация фермерского хозяйства по разведению, выращиванию и продаже фазанов.
            dt.list-projects__category.description_hidden Можл/ використання
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Нічний клуб
            dt.list-projects__category.description_hidden Площа
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Технічні дані
          .list-projects__price.text-primary
            strong 1 000 000
            |  гривень
    li.list-projects__item
      a.list-projects__img(href="#")
        img.img-responsive(src="assets/media/components/b-list-projects/500x315_1.jpg", alt="foto")
      a.list-projects__inner(href="#")
        .list-projects__wrap
          .list-projects__title Проект № 584 Назва проекту можливо бути
          dl.list-projects__description
            dt.list-projects__category.description_hidden Назва
            dd.list-projects__info.list-projects__info_nowrap.description_hidden Комплекс по разведению и выращиванию фазанов
            dt.list-projects__category.description_hidden Вид
            dd.list-projects__info.list-projects__info_nowrap Земельна ділянка
            dt.list-projects__category Галузь
            dd.list-projects__info.list-projects__info_nowrap Сільське господарство
            dt.list-projects__category Адреса
            dd.list-projects__info.list-projects__info_nowrap м.Київ, вул. Ломоносова, 55
            dt.list-projects__category.description_hidden Призначення
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Организация фермерского хозяйства по разведению, выращиванию и продаже фазанов.
            dt.list-projects__category.description_hidden Можл/ використання
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Нічний клуб
            dt.list-projects__category.description_hidden Площа
            dd.list-projects__info.description_hidden.list-projects__info_nowrap Технічні дані
          .list-projects__price.text-primary
            strong 1 000 000
            |  гривень

  // end .list-projects


