.section-projects {
  position: relative;
  margin-top: 25px;
  margin-bottom: 90px;
  &__title {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 17px;
    padding-left: 125px;
    padding-right: 125px;
    @media (max-width:767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .btns-switch {
    position: absolute;
    right: 0;
    top: 10px;
    @media (max-width:767px) {
      position: relative;
      right: auto;
      top: auto;
      text-align: right;
      margin-bottom: 20px;
    }
  }
}


.list-projects {
  &__item {
    @include clearfix;
    color: #333945;
    transition: all .3s;
    border-top: 1px solid #B0B1B1;
    border-bottom: 1px solid #B0B1B1;
    &:hover {
      border-top-color: transparent;
      box-shadow: 5.5px 9.5px 11px rgba(0, 0, 0, 0.27);
    }
  }
  &__wrap {
    overflow: hidden;
    max-height: 315px;
    @media (max-width:767px) {
      max-height: 100%;
    }
  }
  &__img {
    max-width: 500px;
    float: right;
    position: relative;
    &:after {
      content: '';
      border-left: 15px solid #fff;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      position: absolute;
      left: -1px;
      top: 50%;
      margin-top: -15px;
    }
    @media (max-width:991px) {
      float: none;
      max-width: 100%;
      display: block;
      &:after {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        left: 50%;
        top: auto;
        bottom: 0;
        margin-left: -15px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &__inner {
    padding: 0 550px 0 20px;
    display: block;
    max-height: 315px;
    color: #333;
    &:hover {
      text-decoration: none;
    }
    @media (max-width:991px) {
      padding-right: 0;
    }
    @media (max-width:767px) {
      max-height: 100%;
    }
  }
  &__title {
    font-family: "Roboto Condensed", "Times New Roman", Times, serif;
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 28px;
    a {
      color: #333945;
    }
  }
  &__description {
    margin-bottom: 15px;
    @media (max-width:767px) {
      font-size: 14px;
    }
  }
  &__category {
    color: #7e7e7e;
    font-weight: 400;
    float: left;
    margin-right: 6px;
  }
  &__info {
    margin-bottom: 3px;
    max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    @media (max-width:767px) {
      max-height: 100%;
      overflow: visible;
    }
    &_nowrap {
      white-space: nowrap;
      @media (max-width:767px) {
        white-space: normal;
      }
    }
  }
  &__price {
    margin-bottom: 25px;
  }

  &_col {
    display: flex;
    flex-flow: row wrap;
    .description_hidden {
      display: none;
    }
  }



  &_col & {
    &__item {
      width: 33.333%;
      margin-bottom: 0;
      border-top: none;
      border-left: 1px solid #B0B1B1;
      border-bottom: 1px solid #B0B1B1;
      margin-bottom: 0;
      &:nth-child(3n+3),
      &:last-child {
        border-right: 1px solid #B0B1B1;
      }
      @media (max-width:991px) and (min-width:768px) {
        width: 50%;
        &:nth-child(2n+2) {
          border-right: 1px solid #B0B1B1;
        }
      }
      @media (max-width:767px) {
        width: 100%;
        display: block;
        margin-right: 0;
      }
    }
    &__img {
      float: none;
      width: 100%;
      display: block;
      img {
        max-width: 100%;
        height: auto;
      }
      &:after {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        left: 50%;
        top: auto;
        bottom: 0;
        margin-left: -15px;
      }
    }
    &__inner {
      padding-right: 20px;
      padding-left: 28px;
    }
    &__title {
      font-size: 24px;
      margin-top: 22px;
      margin-bottom: 45px;
      @media (max-width:767px) {
        margin-bottom: 10px;
      }
    }
    &__description {
      margin-bottom: 10px;
    }
    &__category {
    }
    &__info {
      margin-bottom: 0;
    }
    &__price {
    }
  }

  &_mrg-top {
    margin-top: 20px;
  }
}

.b-list-projects-filter {
  margin-bottom: 30px;
  .b-projects-form__subtitle {
    color: #333;
    font-weight: 400;
  }
  .chosen-container {
    margin-bottom: 12px;
  }
  .btn {
    margin-top: 20px;
  }
}

.btns-switch {
  @media (max-width:767px) {
    display: none;
  }
}
