mixin header()

  header.header.header_lg.jarallax
    .header-top
      .container
        .row
          .col-xs-12
            .header-top-forms
              span.header-top-forms__regions(data-toggle="modal" data-target="#RegionCityModal")
                i.icon.fa.fa-map-marker
                | Виберіть Ваш регіон
                i.caret-lg
              form.form-search
                input.form-search__input(type="text", placeholder="Пошук")
                button.form-search__btn
                  i.icon.fa.fa-search

            .visible-xs.visible-sm
              .clearfix
                .header-top-links__language.dropdown.pull-left.visible-xs
                  a(data-toggle="dropdown" href="#") укр
                  ul.dropdown-menu(role="menu")
                    li
                      a(href="#") укр
                    li
                      a(href="#") ру
                    li
                      a(href="#") en
                .navbar-header.pull-right
                  button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

              nav.main-nav.navbar(role="navigation")
                .collapse.navbar-collapse#navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ІНВЕСТОРУ НА ЗАМІТКУ
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span НАШІ ПЕРЕВАГИ
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="/uk/pages/investment_climate") Сприятливий інвестиційний клімат
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ПРО РЕГІОН
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="#") Регіон 1
                        li
                          a(href="#") Регіон 1
                        li
                          a(href="#") Регіон 1
                        li
                          a(href="#") Регіон 1
                    li
                      a.dropdown-toggle(href="/uk/pages/successful_projects")
                        span УСПІШНІ ПРОЕКТИ
                    li
                      a.dropdown-toggle(href="/uk/pages/industrial_park")
                        span Індустріальний парк
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ПРО МІСТО
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="/uk/pages/educational_and_scientific_potential") Освітній та науковий потенціал
                        li
                          a(href="/uk/pages/economic_activity") Міжнародні відношення
                        li
                          a(href="/uk/pages/industry") Промисловий потенціал
                        li
                          a(href="/uk/pages/agro_industrial") Пам`ятки культури та туризму
                        li
                          a(href="/uk/pages/subdivisions") Адміністративно-територіальний поділ, географічне розташування та кліматичні умови
                        li
                          a(href="/uk/pages/tourism") Інфраструктура та комунікації
                        li
                          a(href="/uk/pages/labor_potential") Трудовий потенціал


            .header-top-links
              a.header-top-links__item(href="#") Контакты
              a.header-top-links__item(href="#") Кабінет мешканця
              a.header-top-links__btn.btn.hidden-xs Вхід
              .header-top-links__language.dropdown.hidden-xs
                a(data-toggle="dropdown" href="#") укр
                ul.dropdown-menu(role="menu")
                  li
                    a(href="#") укр
                  li
                    a(href="#") ру
                  li
                    a(href="#") en


            // end .main-nav

    .header-main
      .header-main__inner
        .container
          .row
            .col-md-6
              .header-logo
                a.header-logo__link(href="index.html")
                  img.img-responsive(src="assets/media/general/logo.png", alt="logo")
                .header-logo__title Єдиний інформаційний
                  span.header-logo__title_lg Інвестиційний портал м.&nbsp;Покровськ
            .col-md-6
              .header-info
                .header-info__item
                  span.header-info__number 46
                  span.header-info__title державних
                    span.br інвест проектів
                .header-info__item
                  span.header-info__number 24
                  span.header-info__title області
                    span.br України
                .header-info__item
                  span.header-info__number 70
                  span.header-info__title інвест
                    span.br ділянок
                .header-info__item
                  span.header-info__number 76
                  span.header-info__title міст
                    span.br України
                .header-info__item.header-info__item_last
                  span.header-info__number 146
                  span.header-info__title приватних
                    span.br інвест
                    span.br пропозицій
                .header-info__item.header-info__item_last
                  span.header-info__number 490
                  span.header-info__title районів
                    span.br України

          .row
            .col-xs-12
              nav.main-nav.navbar.hidden-xs.hidden-sm(role="navigation")

                .collapse.navbar-collapse#navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ІНВЕСТОРУ НА ЗАМІТКУ
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span НАШІ ПЕРЕВАГИ
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="/uk/pages/investment_climate") Сприятливий інвестиційний клімат
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ПРО РЕГІОН
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="#") Регіон 1
                        li
                          a(href="#") Регіон 1
                        li
                          a(href="#") Регіон 1
                        li
                          a(href="#") Регіон 1
                    li
                      a.dropdown-toggle(href="/uk/pages/successful_projects")
                        span УСПІШНІ ПРОЕКТИ
                    li
                      a.dropdown-toggle(href="/uk/pages/industrial_park")
                        span Індустріальний парк
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ПРО МІСТО
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="/uk/pages/educational_and_scientific_potential") Освітній та науковий потенціал
                        li
                          a(href="/uk/pages/economic_activity") Міжнародні відношення
                        li
                          a(href="/uk/pages/industry") Промисловий потенціал
                        li
                          a(href="/uk/pages/agro_industrial") Пам`ятки культури та туризму
                        li
                          a(href="/uk/pages/subdivisions") Адміністративно-територіальний поділ, географічне розташування та кліматичні умови
                        li
                          a(href="/uk/pages/tourism") Інфраструктура та комунікації
                        li
                          a(href="/uk/pages/labor_potential") Трудовий потенціал

            // end .main-nav
    // end .header-main


    +b-invest()
  // .header


mixin header-sm()

  header.header.header_sm
    .header-top
      .container
        .row
          .col-xs-12
            .header-logo
              a.header-logo__link(href="index.html")
                img(src="assets/media/general/logo.png", alt="logo")
                .header-logo__title Єдиний інформаційний
                  span.header-logo__title_lg ІНВЕСТИЦІЙНИЙ ПОРТАЛ УКРАЇНИ

            .visible-xs
              .clearfix
                form.form-search
                  input.form-search__input(type="text", placeholder="Пошук")
                  button.form-search__btn
                    i.icon.fa.fa-search
                .navbar-header.pull-right
                  button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

              nav.main-nav.navbar.visible-xs(role="navigation")
                .collapse.navbar-collapse#navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="#") ПРО
                        span.br  РЕГІОН
                    li.dropdown
                      a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.br БІЗНЕС-
                        | ІНФРАСТРУКТУРА
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="#") Інфраструктура 1
                        li
                          a(href="#") Інфраструктура 2
                        li
                          a(href="#") Інфраструктура 3
                        li
                          a(href="#") Інфраструктура 4
                    li
                      a(href="#")
                        span.br НАШІ
                        |  ПЕРЕВАГИ
                    li.dropdown
                      a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.br УСПІШНІ
                        |  ПРОЕКТИ
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="#") Проект 1
                        li
                          a(href="#") Проект 2
                        li
                          a(href="#") Проект 3
                        li
                          a(href="#") Проект 4
                    li
                      a(href="#") ЗОВНІШНЬО-
                        span.br ЕКОНОМІЧНА
                        span.br  ДІЯЛЬНІСТЬ
                    li
                      a(href="#") ІННОВАЦІЙНИЙ
                        span.br  РОЗВИТОК
                    li
                      a(href="#") ІНВЕСТОРУ
                        span.br  НА ЗАМІТКУ

            .header-top-links
              a.header-top-links__item(href="#") Контакты
              a.header-top-links__item(href="#") Кабінет мешканця
              a.header-top-links__btn.btn.hidden-xs Вхід
              .header-top-links__language.dropdown.hidden-xs
                a(data-toggle="dropdown" href="#") укр
                ul.dropdown-menu(role="menu")
                  li
                    a(href="#") укр
                  li
                    a(href="#") ру
                  li
                    a(href="#") en

    // end .header-top


    .header-main
      .header-main__inner
        .container
          .row
            .col-xs-12
              nav.main-nav.navbar.hidden-xs(role="navigation")

                .collapse.navbar-collapse#navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="#") ПРО
                        span.br РЕГІОН
                    li.dropdown
                      a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.br  БІЗНЕС-
                        | ІНФРАСТРУКТУРА
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="#") Інфраструктура 1
                        li
                          a(href="#") Інфраструктура 2
                        li
                          a(href="#") Інфраструктура 3
                        li
                          a(href="#") Інфраструктура 4
                    li
                      a(href="#")
                        span.br  НАШІ
                        | ПЕРЕВАГИ
                    li.dropdown
                      a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.br УСПІШНІ
                        | ПРОЕКТИ
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="#") Проект 1
                        li
                          a(href="#") Проект 2
                        li
                          a(href="#") Проект 3
                        li
                          a(href="#") Проект 4
                    li
                      a(href="#") ЗОВНІШНЬО-
                        span.br ЕКОНОМІЧНА
                        span.br ДІЯЛЬНІСТЬ
                    li
                      a(href="#") ІННОВАЦІЙНИЙ
                        span.br РОЗВИТОК
                    li
                      a(href="#") ІНВЕСТОРУ
                        span.br НА ЗАМІТКУ

              // end .main-nav
        +b-invest()(class="hidden-xs")
    // end .header-main



  // .header


mixin header_no-b-invest()

  header.header.header_lg.jarallax
    .header-top
      .container
        .row
          .col-xs-12
            .header-top-forms
              span.header-top-forms__regions(data-toggle="modal" data-target="#RegionCityModal")
                i.icon.fa.fa-map-marker
                | Виберіть Ваш регіон
                i.caret-lg
              form.form-search
                input.form-search__input(type="text", placeholder="Пошук")
                button.form-search__btn
                  i.icon.fa.fa-search

            .visible-xs
              .clearfix
                .header-top-links__language.dropdown.pull-left
                  a(data-toggle="dropdown" href="#") укр
                  ul.dropdown-menu(role="menu")
                    li
                      a(href="#") укр
                    li
                      a(href="#") ру
                    li
                      a(href="#") en
                .navbar-header.pull-right
                  button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

              nav.main-nav.navbar.visible-xs(role="navigation")
                .collapse.navbar-collapse#navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="#") ПРО
                        span.br  РЕГІОН
                    li.dropdown
                      a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.br БІЗНЕС-
                        | ІНФРАСТРУКТУРА
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="#") Інфраструктура 1
                        li
                          a(href="#") Інфраструктура 2
                        li
                          a(href="#") Інфраструктура 3
                        li
                          a(href="#") Інфраструктура 4
                    li
                      a(href="#")
                        span.br НАШІ
                        |  ПЕРЕВАГИ
                    li.dropdown
                      a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.br УСПІШНІ
                        |  ПРОЕКТИ
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="#") Проект 1
                        li
                          a(href="#") Проект 2
                        li
                          a(href="#") Проект 3
                        li
                          a(href="#") Проект 4
                    li
                      a(href="#") ЗОВНІШНЬО-
                        span.br ЕКОНОМІЧНА
                        span.br  ДІЯЛЬНІСТЬ
                    li
                      a(href="#") ІННОВАЦІЙНИЙ
                        span.br  РОЗВИТОК
                    li
                      a(href="#") ІНВЕСТОРУ
                        span.br  НА ЗАМІТКУ


            .header-top-links
              a.header-top-links__item(href="#") Контакты
              a.header-top-links__item(href="#") Кабінет мешканця
              a.header-top-links__btn.btn.hidden-xs Вхід
              .header-top-links__language.dropdown.hidden-xs
                a(data-toggle="dropdown" href="#") укр
                ul.dropdown-menu(role="menu")
                  li
                    a(href="#") укр
                  li
                    a(href="#") ру
                  li
                    a(href="#") en


            // end .main-nav

    .header-main
      .header-main__inner
        .container
          .row
            .header-logo
              a.header-logo__link(href="index.html")
                img.img-responsive(src="assets/media/general/logo.png", alt="logo")
              .header-logo__title
                span.header-logo__title_lg Загальнодоступний реєстр земель та комунального майна м.&nbsp;Коростень
            .header-info
              .header-info__item
                span.header-info__number 3
                span.header-info__title державних
                  span.br інвест проектів
              .header-info__item
                span.header-info__number 24
                span.header-info__title області
                  span.br України

          .row
            .col-xs-12
              nav.main-nav.navbar.hidden-xs(role="navigation")

                .collapse.navbar-collapse#navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ІНВЕСТОРУ НА ЗАМІТКУ
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span НАШІ ПЕРЕВАГИ
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="/uk/pages/investment_climate") Сприятливий інвестиційний клімат
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ПРО РЕГІОН
                        b.caret
                    li
                      a.dropdown-toggle(href="/uk/pages/successful_projects")
                        span УСПІШНІ ПРОЕКТИ
                    li
                      a.dropdown-toggle(href="/uk/pages/industrial_park")
                        span Індустріальний парк
                    li
                      a.dropdown-toggle(data-toggle="dropdown" href="#")
                        span ПРО МІСТО
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href="/uk/pages/educational_and_scientific_potential") Освітній та науковий потенціал
                        li
                          a(href="/uk/pages/economic_activity") Міжнародні відношення
                        li
                          a(href="/uk/pages/industry") Промисловий потенціал
                        li
                          a(href="/uk/pages/agro_industrial") Пам`ятки культури та туризму
                        li
                          a(href="/uk/pages/subdivisions") Адміністративно-територіальний поділ, географічне розташування та кліматичні умови
                        li
                          a(href="/uk/pages/tourism") Інфраструктура та комунікації
                        li
                          a(href="/uk/pages/labor_potential") Трудовий потенціал

            // end .main-nav
    // end .header-main
  // .header


mixin
