.header {
  background-image: url("../media/content/bg/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  position: relative;
  margin-bottom: 113px;
  .form-search {
    display: inline-block;
    width: 130px;
    position: relative;
    vertical-align: middle;
    @media (max-width:767px) {
      float: left;
      width: 150px;
      margin-top: 4px;
      margin-left: 16px;
    }
    &__input {
      border: none;
      color: white;
      font-weight: 300;
      background-color: transparent;
      width: 100%;
      padding: 3px 5px 3px 48px;
    }
    &__btn {
      position: absolute;
      left: 3px;
      top: 2px;
      background-color: transparent;
      border: none;
      .icon {
        font-size: 24px;
        color: #FFF;
      }
    }
  }

  .header-top {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 100;
    @include clearfix;
    left: 0;
    right: 0;
    top: 0;
    @media (max-width:767px) {
      padding-top: 90px;
      position: relative;
    }
  }
  .header-top-forms {
    float: left;
    @media (max-width:767px) {
      float: none;
    }
    &__regions {
      color: white;
      font-weight: 300;
      background-color: transparent;
      padding: 2px 17px 2px 10px;
      display: inline-block;
      margin-right: 23px;
      vertical-align: middle;
      cursor: pointer;
      @media (max-width:991px) {
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 0;
        float: left;
        padding-right: 0;
      }
      @media (max-width:767px) {
        margin-top: 4px;
      }
      &:hover {
        text-decoration: none;
        color: #FFF;
      }
      .caret-lg {
        margin-left: 23px;
        vertical-align: top;
        border-left-color: #FFF;
        border-top-color: #FFF;
        @media (max-width:991px) {
          display: none;
        }
      }
      .icon {
        color: #fff;
        font-size: 26px;
        margin-right: 14px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .header-top-links {
    float: right;
    @media (max-width:767px) {
      float: none;
      margin-top: 20px;
    }
    &__item {
      color: white;
      font-size: 16px;
      transition: all .3s;
      padding-left: 53px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      &:hover {
        text-decoration: underline;
        color: #FFF;
      }
      @media (max-width:991px) {
        &:first-child {
          padding-left: 0;
        }
      }
      @media (max-width:767px) {
        margin-bottom: 10px;
        display: inline-block;
      }
    }
    &__btn {
      color: #fbfaf9;
      margin: 0 25px 0 14px;
      padding: 0 28px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      border: none;
      @media (max-width:991px) and (min-width:768px) {
        margin-left: 40px;
      }
      &:hover {
        color: #fff;
      }
    }
    &__language {
      display: inline-block;
      color: #0076a0;
      font-weight: 700;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: 1;
      @media (max-width:767px) {
        margin-top: 10px;
      }
      > a {
        transition: all .3s;
        color: #fbfaf9;
        font-weight: 400;
        &:hover,
        &:focus {
          color: #FFF;
          text-decoration: none;
        }
      }
      .dropdown-menu {
        right: 0;
        min-width: 80px;
      }
      .open {
        > a {
          color: #FFF;
        }
      }
    }
  }


  .header-main {
    position: relative;
    z-index: 11;
    @media (max-width:767px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &__inner {
      z-index: 100;
      padding-top: 95px;
      position: relative;
    }
  }
  .header-logo {
    @media (max-width:767px) {
      margin-bottom: 10px;
    }
    &__title {
      text-shadow: 0.7px 0.7px 1px rgba(35, 31, 32, 0.75);
      color: white;
    }
    &__link {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .header-info {
    color: white;
    border-left: 1px solid white;
    @media (max-width:991px) {
      border-left: none;
      margin-top: 40px;
    }
    @media (max-width:767px) {
      display: none;
    }
    &__item {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      position: relative;
      margin-bottom: 30px;
      @media (max-width:991px) and (min-width:768px) {
        width: 33.33%;
      }
      &_last {
        margin-bottom: 0;
      }
    }
    &__number {
      font-family: $font-family-serif;
      font-size: 45px;
      font-weight: 300;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      width: 50%;
      text-align: right;
      padding-right: 20px;
      @media (max-width:1199px) {
        font-size: 40px;
        padding-left: 10px;
      }
    }
    &__title {
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
      max-width: 140px;
      @media (max-width:1199px) {
        width: 105px;
      }
    }
  }


  .main-nav {
    border-top: 1px solid #fff;
    padding-top: 18px;
    margin-bottom: 30px;
    margin-top: 36px;
    @media (max-width:991px) {
      min-height: 0;
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, .7);
      z-index: 10;
    }
    .nav {
      display: table;
      width: 100%;
      @media (max-width:991px) {
        display: block;
      }
      > li {
        display: table-cell;
        float: none;
        vertical-align: middle;
        white-space: nowrap;
        &:last-child {
          .dropdown-menu {
            left: auto;
            right: 0;
            min-width: 220px;
          }
        }
        @media (max-width:991px) and (min-width:768px) {
          font-size: 12px;
        }
        @media (max-width:991px) {
          vertical-align: top;
          display: block;
        }
        .dropdown-menu > li > a {
          font-size: 17px;
          @media (min-width:992px) and (max-width:1199px) {
            font-size: 15px;
          }
          @media (max-width:991px) {
            white-space: normal;
          }
          @media (max-width:767px) {
            color: #FFF;
            font-size: 14px;
          }
        }
        > a {
          color: #ffffff;
          line-height: 1.25;
          text-transform: uppercase;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 17px;
          &:hover,
          &:focus {
            background-color: transparent;
            text-shadow: 1px 1px 2px #000000;
          }
          @media (min-width:992px) and (max-width:1199px) {
            font-size: 15px;
          }
          @media (max-width:991px) {
            padding-right: 5px;
          }
          @media (max-width:767px) {
            font-size: 14px;
            .br {
              display: inline;
            }
          }
        }
      }
      .open {
        > a {
          background-color: transparent;
          &:hover,
          &:focus {
            background-color: transparent;
          }
        }
      }
    }
  }

  &_lg {
    .header-logo {
      padding-top: 15px;
      @media (max-width:767px) {
        padding-top: 0;
        padding-bottom: 10px;
      }
      &__title {
        font-size: 30px;
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        margin-right: -5px;
        padding-left: 30px;
        @media (max-width:767px) {
          font-size: 14px;
        }
        &_lg {
          font-size: 33px;
          font-weight: 700;
          display: block;
          line-height: 1.2;
          @media (max-width:767px) {
            font-size: 16px;
          }
        }
      }
      &__link {
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        width: 20%;
        @media (max-width:767px) {
          width: 30px;
          left: 10px;
        }
        img {
          display: inline-block;
        }
      }
    }
    .header-main {
      &__inner {
        @media (max-width:767px) {
          padding-top: 10px;
        }
      }
    }


  }

  &_sm {
    @media (max-width:767px) {
      background-position: 0 -5px;
      margin-bottom: 70px;
    }
    .header-logo {
      float: left;
      @media (max-width:991px) {
        float: none;
      }
      &__title {
        width: 780px;
        font-size: 18px;
        font-weight: 300;
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
        padding-top: 3px;
        @media (max-width:767px) {
          font-size: 14px;
          max-width: 230px;
        }
        &_lg {
          font-weight: 400;
          padding-left: 5px;
          @media (min-width:992px) and (max-width:1199px) {
            display: block;
            padding-left: 0;
          }
          @media (max-width:767px) {
            display: block;
            padding-left: 0;
          }
        }
      }
      &__link {
        img {
          height: auto;
          max-width: 22px;
          display: inline-block;
        }
      }
    }
    .header-top {
      padding-top: 15px;
    }
    .header-main {
      &:after {
      }
      &__inner {
        padding-top: 60px;
        @media (max-width:991px) {
          padding-top: 110px;
        }
        @media (max-width:767px) {
          display: none;
        }
      }
    }
    .main-nav {
      margin-top: 0;
      border-top: none;
    }
  }
}


.lite-ver {
  .header {
    margin-bottom: 10px;
    z-index: 110;

    .header-logo,
    .header-info {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      margin-right: -4px;
    }

    .header-logo {
      @media (max-width:767px) {
        display: block;
        width: 100%;
        margin-right: 0;
      }
    }

    .header-info {
      @media (max-width:767px) {
        display: none;
      }
      @media (max-width:991px) and (min-width:768px) {
        padding-left: 40px;
        margin-top: 0;
      }
    }
  }
  .header_lg .header-logo {
    padding-top: 0;
  }
  .header .header-info__item {
    margin-bottom: 0;
    @media (max-width:991px) and (min-width:768px) {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
  }
  .header_lg .header-logo__title_lg {
    @media (max-width:991px) and (min-width:768px) {
      font-size: 23px;
    }
  }
  .header .header-info__title {
    @media (max-width:991px) and (min-width:768px) {
      width: 100%;
    }
  }
  .header .header-info__number {
    @media (max-width:991px) and (min-width:768px) {
      padding-right: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.navbar-nav > li > .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.85);
}
.navbar-nav > li > .dropdown-menu > li > a {
  color: #FFF;
}
.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus {
  background-color: transparent;
  color: red;
}
