mixin b-news(img, title, date, content)

  a.b-news(href="news-details.html")
    .b-news__img
      img.img-responsive(src="assets/media/components/b-news/" + img +".jpg", alt="foto")
    .b-news__inner
      .b-news__title= title
      time.b-news__date(datetime="2017-10-27 15:20")= date
      .b-news__content= content

  // end .b-news

mixin b-news-full(img, title, date, content)

  section.b-news.b-news_full
    h3.b-news__title= title
    time.b-news__date(datetime="2017-10-27 15:20")= date
    .b-news__img
      img.img-responsive(src="assets/media/components/b-news/" + img +".jpg", alt="foto")
    .b-news__content= content

  // end .b-news

