.section-news {
  padding-bottom: 21px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__more {
    margin-top: 24px;
  }
}

.b-news {
  padding-bottom: 25px;
  transition: all .3s;
  position: relative;
  display: block;
  width: 33.3%;
  &:hover {
    text-decoration: none;
  }
  @media (max-width:991px) and (min-width:768px) {
    width: 50%;
  }
  @media (max-width:767px) {
    width: 100%;
  }
  &__img {
    position: relative;
    max-width: 390px;
    &:after {
      content: '';
      border-bottom: 15px solid #fff;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -10px;
    }
  }
  &__inner {
    padding-left: 13px;
    padding-right: 20px;
  }
  &__title {
    // font-size: 24px;
    font-size: 22px;
    font-weight: 700;
    // font-variant: small-caps;
    font-family: 'Open Sans';
    margin-top: 30px;
    margin-bottom: 4px;
  }
  &__date {
    color: #b6b5b5;
    font-weight: 700;
    // font-variant: small-caps;
    display: block;
    margin-bottom: 10px;
  }
  &__content {
    color: #343a46;
    // font-variant: small-caps;
    font-size: 16px;
  }
  &:hover {
    box-shadow: 5.5px 9.5px 11px rgba(0, 0, 0, 0.27);
    z-index: 10;
  }

  &_full {
    width: 100%;
    &:hover {
      box-shadow: none;
    }
  }

  &_full & {
    &__title {
      font-size: 32px;
    }
    &__img {
      margin-bottom: 10px;
      margin-right: 20px;
      float: left;
      &:after {
        content: none;
      }
    }
    &__date {
      margin-bottom: 30px;
    }
  }
}


