// Common styles of the project

html, body {
    height: 100%;
}

.page {
  background-color: #333;
}

.page__wrapper {
  min-height: 100%;
  max-width: 1920px;
  margin: auto;
  background-color: #fff;
  margin-bottom: -375px;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  height: 375px;
  background-color: #FFF;
}

.page__footer {
}

.l-content {
  &__nav {
    padding-bottom: 32px;
    @media (max-width:767px) {
      .btn {
        display: block;
        margin-bottom: 10px;
      }
    }
    .btn {
      margin-left: 15px;
      margin-right: 15px;
      padding: 9px 33px;
    }
  }
  &__head {
    margin-bottom: 20px;
    @include clearfix;
    .chosen-container-single .chosen-default {
      color: #8c8d8d;
      background-color: #ececec;
    }
  }
  &__registr-link {
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    opacity: .6;
    transition: all 0.3s;
    padding-top: 22px;
    padding-bottom: 16px;
    @media (max-width:767px) {
      padding-top: 0;
      font-size: 18px;
    }
    &:hover {
      opacity: 1;
    }
    .icon {
      font-size: 50px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -3px;
      @media (max-width:767px) {
        font-size: 35px;
      }
    }
  }
  &__select {
    width: 375px;
    @media (max-width:767px) {
      width: 100%;
    }
  }
}
