/*------------------------------------------------------------------

[TABLE OF CONTENTS]

- GLOBAL
- GUI
  -- Titles
  -- Decor
  -- Paragrafs
  -- Buttons
  -- Images
  -- List
  -- Forms
    -- Radio/check customisation
  -- Alert
  -- Tables
  -- Blockquote
  -- Sections
  -- Carousel
  -- Other
- COMPONENTS
- FOOTER
-------------------------------------------------------------------*/

/* ======= GLOBAL ======= */

.l-theme {
  position: relative;
  max-width: 1920px;
  margin: auto;
  background-color: #fff;
  overflow-x: hidden;
}

.l-main-content {
  padding-top: 95px;
  padding-bottom: 110px;
}

.l-sidebar {
}



/* ======= GUI ======= */


/* Titles */

.ui-title-page {
  color: #535a64;
  font-family: 'Roboto Condensed';
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 40px;
  padding-top: 28px;
  padding-bottom: 24px;
  @media (max-width:767px) {
    padding-right: 0;
    font-size: 25px;
  }
}
.ui-title-block {
  margin-top: 23px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}
.ui-subtitle-block {
}
.ui-title-inner {
}



/* Decor elements */

.ui-decor-1 {
}


/* Paragrafs */

p + p {
  margin-top: 26px;
}


/* Buttons */



/* Images */

.img-default {
  margin-bottom: 30px;
}

img.pull-right {
  padding-left: 20px;
}
img.pull-left {
  padding-right: 20px;
}

.img-scale {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: inherit;
  height: inherit;
}

/* Lists */

.list {
  margin-bottom: 40px;
  padding-left: 0;
  list-style-type: none;
  li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 30px;
    &:before {
      position: absolute;
      top: 5px;
      left: 1px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
    }
    & > a {
      color: #777;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


.list-mark-1 li:before {
  font: 12px 'ElegantIcons';
  content: '\52';
}
.list-mark-2 {
  li {
    padding-left: 39px;
    &:before {
      left: 14px;
      font-family: 'Stroke-Gap-Icons';
      content: '\e677';
    }
  }
}
.list-num {
  counter-reset: list;
  & li:before {
    display: inline-block;
    font-weight: 700;
    content: counter(list) '. ';
    counter-increment: list;
  }
}


/* Forms */

select:focus {
  outline-style: none;
}
input {
  @include placeholder {
    color: #fff;
  }
}

.ui-select {
  width: 100%;
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 16px;
  vertical-align: top;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  text-transform: inherit;
}

/* Radio/check customisation */

.forms {
  &__label {
    position: relative;
    display: inline-block;
    margin-bottom: 11px;
    padding-left: 45px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
  &__label-check:before,
  &__label-radio:before {
    position: absolute;
    left: 0;
    border: 1px solid #fff;
    content: '';
  }
  &__label-check:after,
  &__label-radio:after {
    position: absolute;
    display: none;
  }
  &__label-check {
    display: block;
    height: 22px;
    margin-top: 0;
    margin-right: 12px;
    margin-bottom: 19px;
    padding-left: 29px;
    color: #535a64;
    // font-size: 18px;
    font-size: 16px;
    font-weight: 400;
    // font-variant: small-caps;
    &:before {
      top: 4px;
      width: 15px;
      height: 15px;
      border: 1px solid #999;
    }
    &:after {
      padding-top: 3px;
      padding-top: 5px;
    }
  }
  &__label-check-1 {
    &:after {
      top: 8px;
      left: 4px;
      width: 7px;
      height: 7px;
      content: '';
    }
  }
  &__label-check-2 {
    &:after {
      top: 1px;
      left: 3px;
      font: 11px/1 FontAwesome;
      color: #fff;
      color: #666;
      content: '\f00c';
      text-align: center;
    }
  }
  &__label-radio {
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 30px;
    &:before {
      top: 2px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid #495161;
    }
    &:after {
      top: 7px;
      left: 5px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
      content: '';
    }
  }
  &__label-radio-1 {
    display: block;
    color: #535a64;
    font-weight: 400;
    font-size: 16px;
    // font-size: 18px;
    // font-variant: small-caps;
    margin-bottom: 10px;
    &:after {
      background-color: #fff;
    }
  }
  &__check,
  &__radio {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
  }
  &__check:checked + .forms__label-check:after,
  &__radio:checked + .forms__label-radio:after {
    display: block;
  }
  &__check:checked + .forms__label-check:before {
    box-shadow: none;
  }
  &__radio:checked + .forms__label-radio:before {
    border-color: #006297;
  }
  &__radio:checked + .forms__label-radio:after {
    background-color: #333945;
  }
  &__label-check-1:after {
    background-color: #006297;
  }
}
.label-group-inline {
  white-space: nowrap;
}
.ui-form {
  .form-control {
    background-color: #FFF;
    color: #8c8d8d;
    border: 1px solid #a1a1a1;
    border-radius: 2px;
    @include placeholder {
      color: #8c8d8d;
    }
  }
  &__group {
    margin-bottom: 40px;
    &_mrg-top {
      margin-top: 43px;
    }
  }
  &__title {
    color: #535a64;
    font-family: 'Roboto Condensed';
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 0;
    margin-bottom: 13px;
    @media (max-width:1199px) {
      font-size: 20px;
    }
  }
  &__links {
    color: #8c8d8d;
    font-weight: 300;
    text-decoration: underline;
    // font-variant: small-caps;
    font-size: 16px;
    display: block;
    text-align: right;
  }
  &__subm {
    margin-top: 42px;
  }
  .chosen-container-single .chosen-default {
    color: #8c8d8d;
    background-color: #ececec;
  }

  &_pdg_btm {
    padding-bottom: 110px;
  }
}
label.uploadbutton {
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  padding-top: 8px;
  padding-bottom: 8px;
  input {
    opacity: 0;
    height: 0;
  }
  .input {
    width: 100%;
    height: 100%;
    font-weight: 400;
    padding-top: 6px;
  }
}

.chosen-container {
  width: 100% !important;
}
.chosen-container-multi .search-field input {
  @include placeholder {
    color: #949393;
  }
}

.select_box {
  @media (max-width:767px) {
    margin-bottom: 10px;
  }
}


/* Alert */

.alert {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #0d4b62;
  background-color: #e7eef4;
  .close {
    color: #8cbfd0;
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 20px;
    opacity: 1;
    transition: all 0.3s;
  }
  .alert-text {}
  .text-primary {
    display: inline-block;
  }
}


/* Tables */


/* Tabular scrolling for mobile devices */
.table-container {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
}
.table-container::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
}
.table-container::-webkit-scrollbar-thumb {
  border: 3px solid #fff;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}



/* Blockquote */

blockquote cite {
  display: block;
  font-style: normal;
}

/* Sections */

.section-area {
  position: relative;
}
.section-default {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
}

.area-bg {
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    content: '';
  }
  &__inner {
    position: relative;
    z-index: 110;
  }
  &_dark {
    &:after {
      background-color: #000;
    }
  }
  &_light {
    &:after {
      background-color: #f1f1f1;
    }
  }
  &_op_10 {
    &:after {
      opacity: 0.1;
    }
  }
  &_op_20 {
    &:after {
      opacity: 0.2;
    }
  }
  &_op_30 {
    &:after {
      opacity: 0.3;
    }
  }
  &_op_40 {
    &:after {
      opacity: 0.4;
    }
  }
  &_op_50 {
    &:after {
      opacity: 0.5;
    }
  }
  &_op_60 {
    &:after {
      opacity: 0.6;
    }
  }
  &_op_70 {
    &:after {
      opacity: 0.7;
    }
  }
  &_op_80 {
    &:after {
      opacity: 0.8;
    }
  }
  &_op_85 {
    &:after {
      opacity: 0.85;
    }
  }
  &_op_90 {
    &:after {
      opacity: 0.9;
    }
  }
  &_type-1 {
  }
}


/* CAROUSEL */

.owl-carousel {
  .owl-nav {
    top: 50%;
    position: absolute;
    left: 210px;
    right: 210px;
    @media (max-width:767px) {
      left: 0;
      right: 0;
    }
  }
  .owl-prev,
  .owl-next {
    font-size: 0;
    width: 35px;
    height: 35px;
    border-left: solid 5px #333945;
    border-top: solid 5px #333945;
    opacity: .7;
    transition: all 0.3s;
    margin-top: -25px;
    &:hover {
      opacity: 1;
      border-left-color: #236294;
      border-top-color: #236294;
    }
  }
  .owl-prev {
    transform: rotate(-45deg);
    float: left;
  }
  .owl-next {
    float: right;
    transform: rotate(135deg);
  }
}

/* Other */

.map {
  height: 357px;
  margin-bottom: 30px;
}
.map-home {
  height: 100vh;
}

.btns-switch {
  &__item {
    font-size: 37px;
    color: #afb0b0;
    cursor: pointer;
    transition: all .3s;
    margin-left: 20px;
    &:hover,
    &.active {
      color: #236294;
    }
  }
}
.irs-slider {
  background: none;
  background-color: #FFF;
  border-radius: 50%;
  border: 1px solid #99a4ac;
  width: 22px;
  &:after {
    position: absolute;
    left: 5px;
    content: '';
    background-color: #99A4AC;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 5px;
    transition: all 0.3s;
  }
}
.irs-slider.single {
  cursor: pointer;
}

.pruning {
  overflow: hidden;
}

.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform: none;
}
.jarallax {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* colomns inline-block */
.wrap-inl-bl {
  [class^="col"] {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
  }
  &_mr-pd_0 {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    [class^="col"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/* columns of the same height */
.block-table {
  display: flex;
  width: 100%;
  &__cell {
    padding-right: 0;
    padding-left: 0;
    vertical-align: top;
    overflow: hidden;
  }
  &__inner {
    height: 100%;
    overflow: hidden;
  }
}

.row_no-mrg {
  margin-right: 0;
  margin-left: 0;
}
.col_no-pdg {
  padding-right: 0;
  padding-left: 0;
}

.br {
  display: block;
}

.no-br {
  white-space: nowrap;
}

.caret-lg {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-left: 2px solid #383c46;
  border-top: 2px solid #383c46;
  transform: rotate(-135deg);
}


.link-block {
  transition: all .3s;
  display: block;
  padding: 40px 70px;
  &__title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 1;
  }
  &__info {
    color: #343a46;
  }
  &:hover {
    box-shadow: 5.5px 9.5px 11px rgba(0, 0, 0, 0.27);
    text-decoration: none;
  }
  + .link-block {
    margin-top: 40px;
  }
  @media (max-width:1199px) {
    padding: 20px 40px;
  }
}


/* ======= COMPONENTS ======= */

.form-registr-project {
  &__nav {
    li {
      &.active {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}

ul.form-registr-invest__nav {
  margin-bottom: 50px;
  li {
    &.active {
      font-weight: 700;
      font-size: 20px;
    }
  }
}
