//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 60px;
  border-radius: $border-radius-base;

  > li {
    display: inline-block;
    font-size: 24px;
    font-family: $font-family-serif;
    margin-left: 3px;
    margin-right: 3px;
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: 15px 26px;
      line-height: $line-height-base;
      text-decoration: none;
      color: $gray-dark;
      background-color: $pagination-bg;
      border: 1px solid $brand-primary;
      border-radius: 1px;
      transition: all .3s;
      @media (max-width: $screen-lg) {
        padding: 5px 5px;
        width: 50px;
      }
      @media (max-width: $screen-xs) {
        width: 40px;
        font-size: 18px;
      }
    }
    /*&:first-child {
      > a,
      > span {
        margin-left: 0;
        padding: 0;
        top: -20px;
        border-color: transparent;
        display: block;
        width: 20px;
        height: 20px;
        border-left: 3px solid grey;
        border-top: 3px solid grey;
        transform: rotate(-45deg);
        &:hover {
          border-left-color: $brand-primary;
          border-top-color: $brand-primary;
          background-color: transparent;
        }
      }
    }
    &:last-child {
      > a,
      > span {
        top: -20px;
        border-color: transparent;
        display: block;
        padding: 0;
        width: 20px;
        height: 20px;
        border-left: 3px solid grey;
        border-top: 3px solid grey;
        transform: rotate(135deg);
        &:hover {
          border-left-color: $brand-primary;
          border-top-color: $brand-primary;
          background-color: transparent;
        }
      }
    }*/
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: #fff;
      background-color: $brand-primary;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
      cursor: $cursor-disabled;
    }
  }
  @media (max-width: $screen-xs) {
    margin-top: 30px;
    margin-bottom: 50px;
  }

}


// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  @include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

// Small
.pagination-sm {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
