mixin b-project-details()

  section.b-project-details
    .container
      .row
        .col-xs-12
          h1.b-project-details__title Проект № 456 <br>Назва проекту можливо бути
          .b-project-details__slider.owl-carousel
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
      .row
        .col-md-7
          h2.b-project-details__title-inner Відомості про проект
          dl.b-project-details__description.dl-horizontal
            dt.b-project-details__description-name Обсяг реалізованої продукції
            dd.b-project-details__description-info Інфраструктура
            dt.b-project-details__description-name Адреса
            dd.b-project-details__description-info м.Київ, вул. Ломоносова, 55
            dt.b-project-details__description-name Призначення
            dd.b-project-details__description-info Гуртожиток
            dt.b-project-details__description-name Можл/ використання
            dd.b-project-details__description-info Нічний клуб
            dt.b-project-details__description-name Площа
            dd.b-project-details__description-info Технічні дані
            dt.b-project-details__description-name Вартість
            dd.b-project-details__description-info
              span.text-primary
                strong 1 000 000
                |  гривень

          h3.b-project-details__title-inner-2 Опис
          ol.b-project-details__list
            li Міжнародне спостереження  за  виборами  -  це  вияв  інтересу міжнародного  співтовариства до забезпечення демократичних виборів як складової розвитку демократії,  включаючи повагу прав людини  й верховенство права.
            li Міжнародне спостереження за виборами,  з його акцентом  на  громадянські  та   політичні   права,   є   частиною міжнародного  спостереження  за  дотриманням прав людини й повинно здійснюватися шляхом підтримки високих стандартів  неупередженості стосовно
              a(href="#")  національних  учасників
              |  політичної боротьби,  а під час його проведення не повинні братися до уваги будь-які  двоїсті   чи багатопланові  міркування,  які  можуть суперечити неупередженості висновків.
            li
              a(href="#") Міжнародне спостереження
              |  забезпечує  оцінку  виборчих процесів  відповідно  до  міжнародних  принципів проведення дійсно демократичних  виборів  і  національного  законодавства,  водночас виходячи  з  визнання  того,  що саме населення країни в кінцевому підсумку вирішує питання про легітимність процесу  виборів  і  про довіру до їх результатів.

          h3.b-project-details__title-inner-2 Додані файли
          ol.b-project-details__list
            li
              a(href="#") Назва документа
            li
              a(href="#") Назва документа


        .col-md-5
          .map#map

          a.link-block(href="#")
            .link-block__title.text-primary.text-center ЗАЦІКАВИВ ПРОЕКТ
            .link-block__info Якщо вас зацікавив цей проект ви можете відправити заявку або написати побажання і пропозиції
          a.link-block(href="#")
            .link-block__title.text-primary.text-center ВИНИКЛИ ДОДАТКОВІ <br>ПИТАННЯ
            .link-block__info Якщо вас зацікавив цей проект ви можете відправити заявку або написати побажання і пропозиції
      .row
        .col-xs-12
          .text-center
            a.b-project-details__btn.btn.btn-primary(href="#") зберегти
            a.b-project-details__btn.btn.btn-primary(href="#") поділиться

  // end .b-project-details


mixin b-project-details-2()

  section.b-project-details
    .container
      .row
        .col-xs-12
          h1.b-project-details__title Проект № 456 <br>Назва проекту можливо бути
          .b-project-details__slider.owl-carousel
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
            img(src="assets/media/content/carousel-1/1.jpg", alt="foto")
      .row
        .col-xs-12
          h2.b-project-details__title-inner Відомості про проект
          dl.b-project-details__description.dl-horizontal
            dt.b-project-details__description-name Галузь
            dd.b-project-details__description-info Інфраструктура
            dt.b-project-details__description-name Адреса
            dd.b-project-details__description-info м.Київ, вул. Ломоносова, 55
            dt.b-project-details__description-name Призначення
            dd.b-project-details__description-info Гуртожиток
            dt.b-project-details__description-name Можл/ використання
            dd.b-project-details__description-info Нічний клуб
            dt.b-project-details__description-name Площа
            dd.b-project-details__description-info Технічні дані
            dt.b-project-details__description-name Вартість
            dd.b-project-details__description-info
              span.text-primary
                strong 1 000 000
                |  гривень

          h3.b-project-details__title-inner-2 Опис
          ol.b-project-details__list
            li Міжнародне спостереження  за  виборами  -  це  вияв  інтересу міжнародного  співтовариства до забезпечення демократичних виборів як складової розвитку демократії,  включаючи повагу прав людини  й верховенство права.
            li Міжнародне спостереження за виборами,  з його акцентом  на  громадянські  та   політичні   права,   є   частиною міжнародного  спостереження  за  дотриманням прав людини й повинно здійснюватися шляхом підтримки високих стандартів  неупередженості стосовно
              a(href="#")  національних  учасників
              |  політичної боротьби,  а під час його проведення не повинні братися до уваги будь-які  двоїсті   чи багатопланові  міркування,  які  можуть суперечити неупередженості висновків.
            li
              a(href="#") Міжнародне спостереження
              |  забезпечує  оцінку  виборчих процесів  відповідно  до  міжнародних  принципів проведення дійсно демократичних  виборів  і  національного  законодавства,  водночас виходячи  з  визнання  того,  що саме населення країни в кінцевому підсумку вирішує питання про легітимність процесу  виборів  і  про довіру до їх результатів.

          h3.b-project-details__title-inner-2 Додані файли
          ol.b-project-details__list
            li
              a(href="#") Назва документа
            li
              a(href="#") Назва документа

          .map#map

          a.link-block(href="#")
            .link-block__title.text-primary.text-center ЗАЦІКАВИВ ПРОЕКТ
            .link-block__info Якщо вас зацікавив цей проект ви можете відправити заявку або написати побажання і пропозиції
          a.link-block(href="#")
            .link-block__title.text-primary.text-center ВИНИКЛИ ДОДАТКОВІ <br>ПИТАННЯ
            .link-block__info Якщо вас зацікавив цей проект ви можете відправити заявку або написати побажання і пропозиції
      .row
        .col-xs-12
          .text-center
            a.b-project-details__btn.btn.btn-primary(href="#") зберегти
            a.b-project-details__btn.btn.btn-primary(href="#") поділиться

  // end .b-project-details
