.b-project-details {
  padding-bottom: 15px;
  @media (max-width:767px) {
    padding-bottom: 70px;
  }
  &__list {
    list-style: none;
    counter-reset: point;
    padding-right: 38px;
    text-align: justify;
    padding-left: 0;
    margin-bottom: 20px;

    @media (max-width:991px) {
      margin-bottom: 50px;
    }
    @media (max-width:767px) {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
    }
    li {
      margin-bottom: 23px;
      color: #808285;
      line-height: 1.34;
      &:before {
        content: counter(point) ". ";
        counter-increment: point 1;
        font-weight: 700;
      }
    }
  }

  &__title {
    color: #333945;
    font-family: $font-family-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 60px;
  }
  &__slider {}
  &__title-inner {
    margin-top: 0;
    color: #343a46;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 49px;
  }
  &__description {
    margin-bottom: 80px;
  }
  & &__description-name {
    width: 250px;
    color: #7e7e7e;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    margin-right: 45px;
    white-space: normal;
    @media (max-width:1199px) {
      width: 200px;
      font-size: 18px;
    }
    @media (max-width:767px) {
      width: 100%;
      font-size: 18px;
    }
  }
  & &__description-info {
    font-size: 18px;
    color: #333945;
    margin-bottom: 6px;
    margin-left: 295px;
    @media (max-width:1199px) {
      margin-left: 245px;
      font-size: 18px;
    }
    @media (max-width:767px) {
      margin-left: 0;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  &__title-inner-2 {
    color: #343a46;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 21px;
    margin-top: 0;
  }

  &__btn {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 85px;;
    @media (max-width:991px) {
      margin-top: 40px;
    }
  }

  &__slider {
    margin-bottom: 50px;
    .owl-item {
      opacity: 0.4;
      &.center {
        opacity: 1;
      }
    }
  }

  .link-block {
    margin-top: 40px;
    &:first-child {
      margin-top: 47px;
    }
  }

  &_map {
    padding-top: 20px;
    margin-bottom: 20px;
    .b-project-details__description-name {
      width: auto;
      font-size: 13px;
      color: #333;
      float: left;
      margin-right: 5px;
      font-weight: bold;
      padding-top: 2px;;
    }
    .b-project-details__description-info {
      margin-left: 0;
      font-size: 16px;
    }
  }
}
