.b-interactive {
  overflow: hidden;
  padding-top: 15px;

  .b-interactive-title {
    color: #FFF;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    text-shadow: 1px 1px 0 #000;
  }
  .tab-content {
    position: relative;
    box-shadow: 0 -7px 27px rgba(0, 0, 0, 0.58);
    @media (max-width:991px) {
      box-shadow: none;
    }
  }

  .form-control {
    text-shadow: 1px 1px 1px #000;
    font-size: 15px;
    height: 39px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 39px;
  }

  .chosen-container {
    .chosen-single {
      height: 39px;
      padding-top: 6px;
      font-size: 15px;
      div {
        b {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .chosen-container .chosen-results li {
    font-size: 15px;
  }
  .chosen-container-multi .chosen-choices {
    padding-top: 3px;
    padding-bottom: 3px;
    height: 39px;
    font-size: 15px;
  }


  .nav-tabs {
    border-bottom-width: 0px;
    > li {
      font-size: 24px;
      width: 50%;
      border: none;
      margin-bottom: -2px;
      float: none;
      display: inline-block;
      margin-left: -3px;
      @media (max-width:991px) {
        width: 100%;
        display: block;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        margin-left: 0;
      }
      @media (max-width:767px) {
        font-size: 16px;
      }
      &:nth-child(n+1) {
        a {
          &:after {
            content: '';
            width: 100px;
            top: 0;
            background-color: #0076a0;
            bottom: 1px;
            position: absolute;
            right: -50px;
          }
        }
      }
      &.active {
        z-index: 10;
        box-shadow: -20px -8px 10px 0 rgba(0, 0, 0, 0.38);
        @media (max-width:991px) {
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
          font-size: 24px;
        }
        @media (max-width:767px) {
          font-size: 18px;
        }
        &:after {
          content: '';
          height: 74px;
          width: 20px;
          position: absolute;
          right: 16px;
          bottom: 3px;
          transform: rotate(-11.5deg);
          box-shadow: 15px -6px 17px 0px rgba(0, 0, 0, 0.40);
          @media (min-width:1400px) {
            right: 18px;
            transform: rotate(-14.5deg);
          }
        }
        a {
          position: relative;
          clip-path: polygon(0 0, 97% 0%, 100% 100%, 0% 100%);
          @media (max-width:991px) {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
          }
        }
        &:last-child {
          box-shadow: 20px -8px 10px 0 rgba(0, 0, 0, 0.38);
          &:after {
            content: '';
            height: 74px;
            width: 20px;
            position: absolute;
            left: 16px;
            bottom: 3px;
            transform: rotate(11.5deg);
            box-shadow: -15px -6px 17px 0px rgba(0, 0, 0, 0.40);
            @media (min-width:1400px) {
              left: 18px;
              transform: rotate(14.5deg);
            }
          }
          > a:before {
          }
          a {
            clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0% 100%);
            @media (max-width:991px) {
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            }
          }
        }
        > a {
          position: relative;
          z-index: 100;
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background-color: #236294;
          }
          @media (max-width:991px) {
            background-image: none;
            &:after {
              content: none;
            }
          }
        }
        > a,
        > a:hover,
        > a:focus {
          border: 0;
          color: #faf9f9;
          // padding-top: 33px;
          // padding-bottom: 31px;
          margin-top: 0;
          background-color: transparent;

          @media (max-width:991px) {
            box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
            text-shadow: 1px 1px 1px #000;
          }
        }
      }
      > a {
        background-color: #0076a0;
        text-align: center;
        position: relative;
        color: #feffff;
        border: none;
        border-radius: 0;
        height: 100%;
        display: block;
        padding: 20px 30px 30px;
        // margin-top: 17px;
        margin-right: 0;
        @media (max-width:991px) {
          margin-top: 0;
          border-bottom: 3px solid #ccc;
        }
        &:before {
          content: '';
          width: 100px;
          top: 0;
          background-color: #0076a0;
          bottom: 1px;
          position: absolute;
          @media (max-width:767px) {
            content: none;
          }
        }
        &:hover {
          border-color: transparent;
        }
      }
      > a:before {
        left: -50px;
        @media (max-width:991px) {
          content: none;
        }
      }
      &:last-child {
        a {
          background-position: 100% 0;
        }
      }
    }
    &__inner {
      position: relative;
      z-index: 10;
    }
  }
  .b-projects-form__subtitle,
  .b-interactive-form__subtitle {
    text-shadow: 1px 1px 1px #000;
  }
  &.b-interactive_3-col {
    .nav-tabs {
      border-bottom-width: 0px;
      > li {
        width: 33.3%;
        @media (max-width:991px) {
          width: 100%;
        }
      }
    }
  }
}


.b-interactive-form {
  position: relative;
  padding-top: 70px;
  padding-bottom: 60px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #236294;
  }
  .container {
    position: relative;
    z-index: 100;
  }
  @media (max-width:991px) {
    background-size: cover;
    background-position: 0;
    padding-bottom: 70px;
  }
  @media (max-width:767px) {
    margin-bottom: 30px;
  }
  &__title {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    border-bottom: none;
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__subtitle {
    color: #FFF;
    padding-left: 15px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
    padding-top: 10px;
  }
  &__slider {
    margin-bottom: 20px;
  }
  .chosen-container-single .chosen-single {
    height: 40px;
    padding-top: 5px;
  }
  .irs-min, .irs-max {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
  }
}



.b-projects-form {
  position: relative;
  padding-top: 70px;
  padding-bottom: 60px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #236294;
  }
  @media (max-width:991px) {
    background-size: cover;
    background-position: 0;
    padding-bottom: 70px;
  }
  @media (max-width:767px) {
    margin-bottom: 30px;
  }
  .container {
    position: relative;
    z-index: 100;
  }
  &__title {
    color: #faf9f9;
    border-bottom: none;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
  }
  &__subtitle {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 15px;
    padding-top: 20px;
    &:first-child {
      padding-top: 0;
    }
    @media (max-width:991px) {
      &:first-child {
        padding-top: 40px;
      }
    }
  }
  &__slider {
    margin-bottom: 8px;
  }
  &__nav {
    margin-bottom: 30px;
  }
  &__nav-item {
    width: 33.3%;
    margin-right: -3px;
    @media (max-width:991px) {
      width: 100%;
      display: block;
      margin-right: 0;
    }
  }
  &__nav-link {
    text-align: center;
    font-size: 17px;
    text-shadow: 1px 1px 0 #000;
    color: #FFF;
    display: block;
    background-color: rgba(235, 235, 235, 0.54);
    padding: 10px 0;
    transition: all .3s;
    &:hover,
    &:focus {
      color: #FFF;
      box-shadow: none;
      text-decoration: none;
    }
    @media (min-width:992px) and (max-width:1199px) {
      font-size: 15px;
    }
    @media (max-width:991px) {
      border-bottom: 1px solid #ddd;
    }
    @media (max-width:767px) {
      font-size: 14px;
    }
  }
  &__tab {
    box-shadow: none !important;
  }
  .btn {
    margin-right: -3px;
    border: none;
    margin-top: 20px;
    @media (max-width:767px) {
      width: 100%;
      margin-top: 20px;
    }
  }
  .irs-min, .irs-max {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
  }
}
