mixin b-interactive()

  .b-interactive.b-interactive_3-col
    ul.nav.nav-tabs
      li.active
        a(href="#tab-map" data-toggle="tab")
          span.nav-tabs__inner Карта земель та комунального майна м. Коростень
      li
        a(href="#tab-projects" data-toggle="tab")
          span.nav-tabs__inner Перелік земель та комунального майна м. Коростень
      li
        a(href="#tab-projects" data-toggle="tab")
          span.nav-tabs__inner Перелік земель та комунального майна м. Коростень

    // end .nav

    .tab-content
      .tab-pane.active#tab-map
        form.b-interactive-form
          .container
            .row
              .col-xs-12
                h2.b-interactive-title Карта земель та комунального майна м.Могилів-Подільского
            .row
              .col-md-8
                #map-ua
              .col-md-4
                .b-interactive-form__title Пошук на відбір інвестиційних проектів
                select.select_box(data-placeholder="По галузям" placeholder="По галузям" style="width:100%;" tabindex="1")
                  option(value="По галузям")
                  option(value="Галузь 1") Галузь 1
                  option(value="Галузь 2") Галузь 2
                select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="2")
                  option(value="")
                  option(value="Область 1") Область 1
                  option(value="Область 2") Область 2
                select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="3")
                  option(value="")
                  option(value="Місто 1") Місто 1
                  option(value="Місто 2") Місто 2
                select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="4")
                  option(value="")
                  option(value="Район 1") Район 1
                  option(value="Район 2") Район 2

                .b-interactive-form__slider
                  .b-interactive-form__subtitle За обємом інвестицій
                  input.range_01(type="text" name="name" value="")

                  .b-interactive-form__subtitle За площею
                  input.range_02(type="text" name="name" value="")

                select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="5")
                  option(value="")
                  option(value="Шар 1") Шар 1
                  option(value="Шар 2") Шар 2


      .tab-pane#tab-projects
        form.b-projects-form
          .container
            .row
              .col-xs-12
                .row
                  .col-md-4
                    select.select_box(data-placeholder="Введіть слово з назви" style="width:100%;" multiple tabindex="7")
                      option(value="")
                      option(value="Київ") Київ
                      option(value="Одеса") Одеса
                      option(value="Харків") Харків
                      option(value="Львів") Львів
                    select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="6")
                      option(value="")
                      option(value="Область 1") Область 1
                      option(value="Область 2") Область 2
                    select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="7")
                      option(value="")
                      option(value="Галузь 1") Галузь 1
                      option(value="Галузь 2") Галузь 2
                    select.select_box(data-placeholder="Вид інвестиційного проекту" style="width:100%;" tabindex="13")
                      option(value="")
                      option(value="Земельні ділянки") Земельні ділянки
                      option(value="Объекти нерухомості") Объекти нерухомості

                  .col-md-4
                    select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="8")
                      option(value="")
                      option(value="Місто 1") Місто 1
                      option(value="Місто 2") Місто 2
                    select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="9")
                      option(value="")
                      option(value="Район 1") Район 1
                      option(value="Район 2") Район 2
                    select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="10")
                      option(value="")
                      option(value="Шар 1") Шар 1
                      option(value="Шар 2") Шар 2

                  .col-md-4
                    .b-projects-form__slider
                      .b-projects-form__subtitle За обємом інвестицій
                      input.range_01(type="text" name="name" value="")

                      .b-projects-form__subtitle За площею
                      input.range_02(type="text" name="name" value="")

                .text-center
                  button.btn.btn-default Пошук
                  button.btn.btn-default(type="reset") Сбросить


        .container
          .row
            .col-xs-12
              section.section-projects
                h2.section-projects__title.text-primary.text-center Знайдено 345 інвестиційних проектів
                .btns-switch
                  i.btns-switch__item.active.js-view-list.fa.fa-th-list
                  i.btns-switch__item.js-view-col.fa.fa-th

                +list-projects()

                .text-center
                  ul.pagination
                    li
                      a(href="#") 1
                    li
                      a(href="#") 2
                    li
                      a(href="#") 3
                    li
                      a(href="#") 4
                    li
                      a(href="#") 5
    // end .tab-content
  // end .b-interactive


mixin b-interactive-google()

  .b-interactive
    ul.nav.nav-tabs
      li.active
        a(href="#tab-map" data-toggle="tab")
          span.nav-tabs__inner Інвестиційна карта
      li
        a(href="#tab-projects" data-toggle="tab")
          span.nav-tabs__inner Перелік проектів

    // end .nav

    .tab-content
      .tab-pane.active#tab-map
        form.b-projects-form
          .container
            .row
              .col-xs-12
                h2.b-interactive-title Карта земель та комунального майна м.Могилів-Подільского
            .row
              .col-xs-12
                .b-projects-form__title Пошук на відбір інвестиційних проектів
                .row
                  .col-md-4
                    select.select_box(data-placeholder="Введіть слово з назви" style="width:100%;" multiple tabindex="1")
                      option(value="")
                      option(value="Київ") Київ
                      option(value="Одеса") Одеса
                      option(value="Харків") Харків
                      option(value="Львів") Львів
                    select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="2")
                      option(value="")
                      option(value="Область 1") Область 1
                      option(value="Область 2") Область 2
                    select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="3")
                      option(value="")
                      option(value="Галузь 1") Галузь 1
                      option(value="Галузь 2") Галузь 2

                  .col-md-4
                    select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="4")
                      option(value="")
                      option(value="Місто 1") Місто 1
                      option(value="Місто 2") Місто 2
                    select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="5")
                      option(value="")
                      option(value="Район 1") Район 1
                      option(value="Район 2") Район 2
                    select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="6")
                      option(value="")
                      option(value="Шар 1") Шар 1
                      option(value="Шар 2") Шар 2

                  .col-md-4
                    .b-projects-form__slider
                      .b-projects-form__subtitle За обємом інвестицій
                      input.range_01(type="text" name="name" value="")

                      .b-projects-form__subtitle За площею
                      input.range_02(type="text" name="name" value="")

                .text-center
                  button.btn.btn-default Пошук
                  button.btn.btn-default(type="reset") Сбросить

        #map.map-home

      .tab-pane#tab-projects
        form.b-projects-form
          .container
            .row
              .col-xs-12
                h2.b-interactive-title Перелік земель та комунального майна м.Могилів-Подільского
                .b-projects-form__title Пошук на відбір інвестиційних проектів
            .row
              .col-md-4
                select.select_box(data-placeholder="Введіть слово з назви" style="width:100%;" multiple tabindex="7")
                  option(value="")
                  option(value="Київ") Київ
                  option(value="Одеса") Одеса
                  option(value="Харків") Харків
                  option(value="Львів") Львів
                select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="8")
                  option(value="")
                  option(value="Область 1") Область 1
                  option(value="Область 2") Область 2
                select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="9")
                  option(value="")
                  option(value="Галузь 1") Галузь 1
                  option(value="Галузь 2") Галузь 2

              .col-md-4
                select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="10")
                  option(value="")
                  option(value="Місто 1") Місто 1
                  option(value="Місто 2") Місто 2
                select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="11")
                  option(value="")
                  option(value="Район 1") Район 1
                  option(value="Район 2") Район 2
                select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="12")
                  option(value="")
                  option(value="Шар 1") Шар 1
                  option(value="Шар 2") Шар 2

              .col-md-4
                .b-projects-form__slider
                  .b-projects-form__subtitle За обємом інвестицій
                  input.range_01(type="text" name="name" value="")

                  .b-projects-form__subtitle За площею
                  input.range_02(type="text" name="name" value="")

            .text-center
              button.btn.btn-default Пошук
              button.btn.btn-default(type="reset") Сбросить


        .container
          .row
            .col-xs-12
              section.section-projects
                h2.section-projects__title.text-primary.text-center Знайдено 345 інвестиційних проектів
                .btns-switch
                  i.btns-switch__item.active.js-view-list.fa.fa-th-list
                  i.btns-switch__item.js-view-col.fa.fa-th

                +list-projects()

                .text-center
                  ul.pagination
                    li
                      a(href="#") 1
                    li
                      a(href="#") 2
                    li
                      a(href="#") 3
                    li
                      a(href="#") 4
                    li
                      a(href="#") 5
    // end .tab-content
  // end .b-interactive


mixin b-interactive-google-2()

  .b-interactive
    ul.nav.nav-tabs
      li.active
        a(href="#tab-map" data-toggle="tab")
          span.nav-tabs__inner Інвестиційна карта
      li
        a(href="#tab-projects" data-toggle="tab")
          span.nav-tabs__inner Перелік проектів

    // end .nav

    .tab-content
      .tab-pane.active#tab-map
        form.b-projects-form
          .container
            .row
              .col-xs-12
                .row
                  .col-xs-12
                    ul.b-projects-form__nav.list-inline
                      li.b-projects-form__nav-item
                        a.b-projects-form__nav-link(href="#function-land" data-toggle="tab") Функціональне призначення земель
                      li.b-projects-form__nav-item
                        a.b-projects-form__nav-link(href="#ground-section" data-toggle="tab") Земельні ділянки
                      li.b-projects-form__nav-item
                        a.b-projects-form__nav-link(href="#real-estate" data-toggle="tab") Обьєкти нерухомості

                .b-projects-form__tab.tab-content
                  .tab-pane#function-land.fade
                    .row
                      .col-md-4
                        input(type="text" class="form-control" placeholder="Назва")

                      .col-md-4
                        select.select_box(data-placeholder="Тип зони" style="width:100%;")
                          option(value="")
                          option(value="За функціональним призначенням") За функціональним призначенням
                          option(value="За нормативною оцінкою земель") За нормативною оцінкою земель

                      .col-md-4
                        input(type="text" class="form-control" placeholder="Функціональне призначення")


                  .tab-pane#ground-section.fade
                    .row
                      .col-md-4
                        input(type="text" class="form-control" placeholder="Кадастровий номер")
                        select.select_box(data-placeholder="Цільове призначення" style="width:100%;")
                          option(value="")
                          option(value="призначення 1") призначення 1
                          option(value="призначення 1") призначення 1
                          option(value="призначення 1") призначення 1
                      .col-md-4
                        select.select_box(data-placeholder="Стан використання" style="width:100%;")
                          option(value="")
                          option(value="Стан 1") Стан 1
                          option(value="Стан 1") Стан 1
                          option(value="Стан 1") Стан 1
                        select.select_box(data-placeholder="Форма власності" style="width:100%;")
                          option(value="")
                          option(value="Державна") Державна
                          option(value="Приватна") Приватна
                          option(value="Колективна") Колективна
                      .col-md-4
                        input(type="text" class="form-control" placeholder="Адреса")
                        input(type="text" class="form-control" placeholder="Площа")


                  .tab-pane#real-estate.fade
                    .row
                      .col-md-4
                        input(type="text" class="form-control" placeholder="Назва")
                        select.select_box(data-placeholder="Галузь" style="width:100%;")
                          option(value="")
                          option(value="Галузь 1") Галузь 1
                          option(value="Галузь 1") Галузь 1
                          option(value="Галузь 1") Галузь 1
                        select.select_box(data-placeholder="Тип будівлі (споруди)" style="width:100%;")
                          option(value="")
                          option(value="Тип 1") Тип 1
                          option(value="Тип 1") Тип 1
                          option(value="Тип 1") Тип 1

                      .col-md-4
                        select.select_box(data-placeholder="Форма власності" style="width:100%;")
                          option(value="")
                          option(value="Державна") Державна
                          option(value="Приватна") Приватна
                          option(value="Колективна") Колективна
                        select.select_box(data-placeholder="Стан використання" style="width:100%;")
                          option(value="")
                          option(value="Стан 1") Стан 1
                          option(value="Стан 1") Стан 1
                          option(value="Стан 1") Стан 1
                        select.select_box(data-placeholder="Функціональне призначення" style="width:100%;")
                          option(value="")
                          option(value="Київ") призначення 1
                          option(value="Київ") призначення 1
                          option(value="Київ") призначення 1

                      .col-md-4
                        input(type="text" class="form-control" placeholder="Адреса")
                        input(type="text" class="form-control" placeholder="Площа")

                .text-center
                  button.btn.btn-default Пошук
                  button.btn.btn-default(type="reset") Сбросить

        #map.map-home

      .tab-pane#tab-projects
        form.b-projects-form
          .container
            .row
              .col-md-4
                select.select_box(data-placeholder="Введіть слово з назви" style="width:100%;" multiple tabindex="7")
                  option(value="")
                  option(value="Київ") Київ
                  option(value="Одеса") Одеса
                  option(value="Харків") Харків
                  option(value="Львів") Львів
                select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="8")
                  option(value="")
                  option(value="Область 1") Область 1
                  option(value="Область 2") Область 2
                select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="9")
                  option(value="")
                  option(value="Галузь 1") Галузь 1
                  option(value="Галузь 2") Галузь 2

              .col-md-4
                select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="10")
                  option(value="")
                  option(value="Місто 1") Місто 1
                  option(value="Місто 2") Місто 2
                select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="11")
                  option(value="")
                  option(value="Район 1") Район 1
                  option(value="Район 2") Район 2
                select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="12")
                  option(value="")
                  option(value="Шар 1") Шар 1
                  option(value="Шар 2") Шар 2

              .col-md-4
                .b-projects-form__slider
                  .b-projects-form__subtitle За обємом інвестицій
                  input.range_01(type="text" name="name" value="")

                  .b-projects-form__subtitle За площею
                  input.range_02(type="text" name="name" value="")

            .text-center
              button.btn.btn-default Пошук
              button.btn.btn-default(type="reset") Сбросить


        .container
          .row
            .col-xs-12
              section.section-projects
                h2.section-projects__title.text-primary.text-center Знайдено 345 інвестиційних проектів
                .btns-switch
                  i.btns-switch__item.active.js-view-list.fa.fa-th-list
                  i.btns-switch__item.js-view-col.fa.fa-th

                +list-projects()

                .text-center
                  ul.pagination
                    li
                      a(href="#") 1
                    li
                      a(href="#") 2
                    li
                      a(href="#") 3
                    li
                      a(href="#") 4
                    li
                      a(href="#") 5
    // end .tab-content
  // end .b-interactive



mixin b-interactive_korost()

  .b-interactive
    ul.nav.nav-tabs
      li.active
        a(href="#tab-map" data-toggle="tab")
          span.nav-tabs__inner Інвестиційна карта
      li
        a(href="#tab-projects" data-toggle="tab")
          span.nav-tabs__inner Перелік проектів

    // end .nav

    .tab-content
      .tab-pane.active#tab-map
        form.b-interactive-form
          .container
            .row
              .col-xs-12
                h2.b-interactive-title Карта земель та комунального майна м.Могилів-Подільского
            .row
              .col-md-8
                #map-ua
              .col-md-4
                .b-interactive-form__title Пошук на відбір інвестиційних проектів
                select.select_box(data-placeholder="По галузям" placeholder="По галузям-2" style="width:100%;" tabindex="1")
                  option.visible-xs(default) По галузям
                  option(value="Галузь 1") Галузь 1
                  option(value="Галузь 2") Галузь 2
                select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="2")
                  option.visible-xs(default) По областям
                  option(value="Область 1") Область 1
                  option(value="Область 2") Область 2
                select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="3")
                  option.visible-xs(default) По містам
                  option(value="Місто 1") Місто 1
                  option(value="Місто 2") Місто 2
                select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="4")
                  option.visible-xs(default) По районам
                  option(value="Район 1") Район 1
                  option(value="Район 2") Район 2

                .b-interactive-form__slider
                  .b-interactive-form__subtitle За обємом інвестицій
                  input.range_01(type="text" name="name" value="")

                  .b-interactive-form__subtitle За площею
                  input.range_02(type="text" name="name" value="")

                select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="5")
                  option(value="")
                  option(value="Шар 1") Шар 1
                  option(value="Шар 2") Шар 2


      .tab-pane#tab-projects
        form.b-projects-form
          .container
            .row
              .col-xs-12
                h2.b-interactive-title Перелік земель та комунального майна м.Могилів-Подільского
                .b-projects-form__title Пошук на відбір інвестиційних проектів
                .row
                  .col-md-4
                    select.select_box(data-placeholder="Введіть слово з назви" style="width:100%;" multiple tabindex="7")
                      option(value="")
                      option(value="Київ") Київ
                      option(value="Одеса") Одеса
                      option(value="Харків") Харків
                      option(value="Львів") Львів
                    select.select_box(data-placeholder="По областям" style="width:100%;" tabindex="6")
                      option(value="")
                      option(value="Область 1") Область 1
                      option(value="Область 2") Область 2
                    select.select_box(data-placeholder="По галузям" style="width:100%;" tabindex="7")
                      option(value="")
                      option(value="Галузь 1") Галузь 1
                      option(value="Галузь 2") Галузь 2
                    select.select_box(data-placeholder="Вид інвестиційного проекту" style="width:100%;" tabindex="13")
                      option(value="")
                      option(value="Земельні ділянки") Земельні ділянки
                      option(value="Объекти нерухомості") Объекти нерухомості

                  .col-md-4
                    select.select_box(data-placeholder="По містам" style="width:100%;" tabindex="8")
                      option(value="")
                      option(value="Місто 1") Місто 1
                      option(value="Місто 2") Місто 2
                    select.select_box(data-placeholder="По районам" style="width:100%;" tabindex="9")
                      option(value="")
                      option(value="Район 1") Район 1
                      option(value="Район 2") Район 2
                    select.select_box(data-placeholder="Інформаційні шари" style="width:100%;" tabindex="10")
                      option(value="")
                      option(value="Шар 1") Шар 1
                      option(value="Шар 2") Шар 2

                  .col-md-4
                    .b-projects-form__slider
                      .b-projects-form__subtitle За обємом інвестицій
                      input.range_01(type="text" name="name" value="")

                      .b-projects-form__subtitle За площею
                      input.range_02(type="text" name="name" value="")

                .text-center
                  button.btn.btn-default Пошук
                  button.btn.btn-default(type="reset") Сбросить


        .container
          .row
            .col-xs-12
              section.section-projects
                h2.section-projects__title.text-primary.text-center Знайдено 345 інвестиційних проектів
                .btns-switch
                  i.btns-switch__item.active.js-view-list.fa.fa-th-list
                  i.btns-switch__item.js-view-col.fa.fa-th

                +list-projects()

                .text-center
                  ul.pagination
                    li
                      a(href="#") 1
                    li
                      a(href="#") 2
                    li
                      a(href="#") 3
                    li
                      a(href="#") 4
                    li
                      a(href="#") 5
    // end .tab-content
  // end .b-interactive

