mixin b-invest()

  .b-invest(class!=attributes.class)
    .container
      if pageHome
        .row
          .col-md-8.col-md-offset-4
            section.b-invest-info
              .b-invest-info__inner
                h2.b-invest-info__title.text-primary Інвестиційний клімат в Україні
                .b-invest-info__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet molestiae earum hic magnam laborum libero temporibus quam accusamus odio facere, perspiciatis veniam sint mollitia culpa nobis officiis pariatur saepe, consequuntur?
                a.b-invest-info__link(href="#") Следить за новинами
              .b-invest-info__btns
                a.btn.btn-default(href="#") новини
                a.btn.btn-default(href="#") Проекти
                a.btn.btn-default(href="#") Інвестори
      .row
        .col-xs-12
          ul.b-invest-nav.list-unstyled
            li.b-invest-nav__item
              a.b-invest-nav__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'icon-1', className: 'b-invest-nav__icon'})
                .b-invest-nav__title ІНВЕСТИЦІЙНА <br>КАРТА
                .b-invest-nav__info Знайдіть проект який <br>Вас зацікавить
            li.b-invest-nav__item
              a.b-invest-nav__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'icon-2', className: 'b-invest-nav__icon'})
                .b-invest-nav__title ПУТІВНИК <br>ІНВЕСТОРА
                .b-invest-nav__info Ми прокроково <br>Вам допоможемо
            li.b-invest-nav__item
              a.b-invest-nav__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'icon-3', className: 'b-invest-nav__icon'})
                .b-invest-nav__title ПОДАТИ <br>ЗАПИТ
                .b-invest-nav__info Ми допоможемо Вам знайти інвестиційний проект
            li.b-invest-nav__item
              a.b-invest-nav__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'icon-4', className: 'b-invest-nav__icon'})
                .b-invest-nav__title РЕЄСТРАЦІЯ <br>ІНВЕСТОРА
                .b-invest-nav__info Отримати пропозиції <br>щодо інвестування
            li.b-invest-nav__item
              a.b-invest-nav__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'icon-5', className: 'b-invest-nav__icon'})
                .b-invest-nav__title РЕЄСТРАЦІЯ <br>ПРОЕКТУ
                .b-invest-nav__info Свій інвестиційний <br>проект для розміщення
            li.b-invest-nav__item
              a.b-invest-nav__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'icon-6', className: 'b-invest-nav__icon'})
                .b-invest-nav__title ЗНАЙТИ <br>нвестиції
                .b-invest-nav__info Інвестиції для <br>свого проекта
            li.b-invest-nav__item
              a.b-invest-nav__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'icon-7', className: 'b-invest-nav__icon'})
                .b-invest-nav__title ЗАДАТИ <br>ПИТАННЯ
                .b-invest-nav__info Для полегшення <br>бізнес клімату

  // end .b-invest

