.b-invest {
}
.b-invest-info {
  background-color: rgba(255,255,255,.8);
  padding: 35px 20px 38px 73px;
  position: relative;
  min-height: 265px;
  margin-bottom: 56px;
  margin-top: 50px;
  z-index: 10;
  @include clearfix;
  @media (max-width:767px) {
    min-height: auto;
    padding: 25px;
  }
  &__inner {
    padding-right: 210px;
    @media (max-width:767px) {
      padding-right: 0;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    font-size: 28px;
    margin-top: -4px;
  }
  &__description {
    font-weight: 300;
    line-height: 1.2;
    height: 105px;
    overflow: hidden;
  }
  &__link {
    margin-top: 10px;
    font-weight: 300;
    text-decoration: underline;
    color: $gray-dark;
    display: block;
    transition: all .3s;
    &:hover {
      text-shadow: 1px 1px 2px #000000;
      text-decoration: none;
    }
  }
  &__btns {
    width: 150px;
    position: absolute;
    right: 50px;
    top: 10px;
    @media (max-width:767px) {
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
    }
    .btn {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 25px;
      background-color: transparent;
      &:hover {
        background-color: $brand-primary;
      }
    }
  }
}


.b-invest-nav {
  background-color: $gray-dark;
  text-align: center;
  display: flex;
  width: 100%;
  box-shadow: 3px 2.7px 5px rgba(0, 0, 0, 0.44);
  margin-bottom: -76px;
  position: relative;
  z-index: 1;
  @media (max-width:767px) {
    display: block;
    text-align: left;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__item {
    vertical-align: top;
    height: 195px;
    padding: 17px 10px 0;
    width: 14.28%;
    @media (max-width:991px) and (min-width:768px) {
      height: 150px;
    }
    @media (max-width:767px) {
      display: block;
      padding: 0;
      width: 100%;
      height: auto;
    }
    &:hover {
      background-color: #e7eff5;
      box-shadow: 7px 7px 21px 6px rgba(0, 0, 0, 0.28);
      .b-invest-nav {
        &__link {
          color: #383c46;
          text-decoration: none;
        }
        &__icon {
          stroke: #231F20;
        }
        &__title {
          font-size: 18px;
        }
      }
    }
  }
  &__link {
    font-family: $font-family-serif;
    color: white;
    font-size: 14px;
    display: block;
    transition: all .3s;
    &:focus {
      color: #fff;
    }
    @media (max-width:767px) {
      padding: 7px;
    }
  }
  &__icon {
    stroke: white;
    width: 50px;
    height: 50px;
    margin-bottom: 2px;
    @media (max-width:767px) {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0;
    @media (max-width:767px) {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
    }
  }
  &__info {
    font-weight: 300;
    margin-top: 12px;
    line-height: 1;
    @media (max-width:991px) {
      display: none;
    }
  }
}


